[2013-10-05 16:36] kelseyhightower opened #1 "Switch to TOML for configuration files"
INI configuration files are proving to limited, we should really switch to TOML so thing like configuring a list of etcd servers is much cleaner.

We can go from:

[code]

To:

[code]

[2013-10-05 16:38] kelseyhightower opened #2 "Add example etcd cluster setup"
To make following the examples easier, provide a short tutorial on setting up an etcd cluster and populating the initial set of keys.

[2013-10-05 16:38] kelseyhightower opened #3 "Document the installation process"

[2013-10-05 16:50] kelseyhightower opened #4 "Add webhook for config file changes"
While local logging is great confd should support a basic webhook to post events when config files changes take place.

[2013-10-05 16:53] kelseyhightower opened #5 "Add status endpoint"
confd should have a status endpoint that allows external tools and clients to gather stats and check the health of the confd daemon.

[2013-10-05 19:35] #1 closed, assigned to kelseyhightower

[2013-10-05 19:56] #3 closed, assigned to kelseyhightower

[2013-10-06 21:43] kelseyhightower opened #6 "Keys generated from etcd paths have a leading "_" if the prefix does not end with "/""
If the prefix does not contain a trailing "/" we end up with a leading "_" when converting values from etcd paths.

If the configured prefix is "/env" and the key is "/nginx/port" we end up with `_nginx_port` instead of `nginx_port`.

[2013-10-06 22:43] #6 closed, assigned to nobody

[2013-10-07 00:10] kelseyhightower opened #7 "Add client auth support"
confd should support connecting to an etcd cluster via SSL and client auth.

[2013-10-09 04:45] #7 closed, assigned to kelseyhightower

[2013-10-16 02:12] rjocoleman opened #8 "etcd key to variable mapping"
You can do some [directory](https://github.com/coreos/etcd#listing-a-directory) things with `etcd` key/values e.g.

[code]

In this case I have `/foo` watched for my template and `confd` doesn't like this. In the template `{{.}}` yields:

[code]

[2013-10-16 05:45] rjocoleman opened #9 "Chef cookbook"
@kelseyhightower I put together a quick 'n dirty Chef cookbook while checking this project out.

I've pushed it up to GitHub incase it's useful for anyone: https://github.com/rjocoleman/confd-cookbook

[2013-10-16 13:34] kelseyhightower opened #12 "Add basic unit tests"
We are past the prototype stage and need unit tests!

[2013-10-16 13:34] kelseyhightower opened #13 "Add Travis CI support."

[2013-10-16 14:22] #13 closed, assigned to kelseyhightower

[2013-10-17 02:44] kelseyhightower opened #14 "If the target config file does not exist create it with a default mode of 0644"

[2013-10-17 04:09] #14 closed, assigned to nobody

[2013-10-17 06:06] #8 closed, assigned to kelseyhightower

[2013-10-17 13:16] kelseyhightower opened #15 "Use cached values when the etcd cluster is unavailable"
confd should cache etcd data between runs and utilize the cache in cases where the etcd cluster is unreachable.

[2013-10-17 13:18] kelseyhightower opened #16 "confd does not support etcd list values"

[2013-10-18 02:19] #16 closed, assigned to kelseyhightower

[2013-10-18 02:25] #9 closed, assigned to nobody

[2013-10-18 15:43] #12 closed, assigned to kelseyhightower

[2013-10-20 14:30] #2 closed, assigned to kelseyhightower

[2013-10-21 05:39] rjocoleman opened #17 "Key not found blocks processing of other template resources"
I'm using `v0.1.1beta3`.

It seems like templates resources are parsed in alphabetical order.
If a watched key is not present an error is thrown and processing is stopped. Subsequent template resources are not processed.

e.g.
`a.toml`

[code]

`b.toml`

[code]

[code]

[2013-10-21 06:02] rjocoleman opened #18 "Namespace for template resource keys?"
@kelseyhightower

Have you considered namespacing watched keys in template resources similar to the global `prefix` option?

Something like an nginx _site_ you may want to use a common template but have a discrete template resource watching separate keys. e.g.

`example.com.toml`

[code]

`example.net.toml`

[code]

`example.conf.tmpl`

[code]

[code]

`example.com.conf`

[code]

`example.net.conf

[2013-10-21 13:30] #17 closed, assigned to kelseyhightower

[2013-10-26 03:54] kelseyhightower opened #20 "Add support for DNS SRV records"
Support DNS SRV records when searching for etcd cluster nodes.

[2013-10-28 12:49] xchenum opened #21 "too many tcp connections"
It seems that every time confd checks into etcd, a new TCP connection is established, and old ones are never torn down.

Eventually, ulimit is hit:
2013/10/28 08:44:04 http: Accept error: accept tcp 127.0.0.1:4001: too many open files; retrying in 1s
2013/10/28 08:44:05 http: Accept error: accept tcp 127.0.0.1:4001: too many open files; retrying in 1s

[2013-10-29 06:08] logikal opened #22 "Q: How can I use confd to do service discovery?"
e.g. : I have etcd keys like so:

[code]

Can I use confd to write out a config from a dynamic list of etcd keys? The examples seem to assume that you know the path of all etcd keys you'll be referencing in a given template.

My use case for this is etcd + haproxy, with a dynamic set of backend servers for multiple haproxy "backends".

From the confd docs, and what I understood from [text/template

[2013-10-30 14:11] kelseyhightower opened #23 "confd onetime run should exit non-zero if there are any errors"

[2013-10-30 14:13] #23 closed, assigned to kelseyhightower

[2013-10-30 14:17] kelseyhightower opened #24 "confd should print out the list of etcd nodes when there are errors connecting to the cluster"
It's really hard to troubleshoot connectivity issues without this.

[2013-10-30 14:21] #24 closed, assigned to nobody

[2013-10-30 15:38] #21 closed, assigned to kelseyhightower

[2013-10-30 16:54] kelseyhightower opened #25 "An error should be logged when the target template cannot be updated."
An error should be logged when confd cannot update the target config due to lack of permissions, or missing parent directories.

[2013-10-30 17:07] kelseyhightower opened #26 "An error should be logged when the template resource config cannot be parsed"

[2013-10-30 17:11] kelseyhightower opened #27 "Better info message when target config needs to be updated"
confd should report what triggers the target config to be updated -- change in content, permissions, etc.

[2013-10-30 23:10] kelseyhightower opened #28 "Exit non-zero if keys are missing from etcd."

[2013-11-01 00:42] #28 closed, assigned to kelseyhightower

[2013-11-01 00:49] #26 closed, assigned to nobody

[2013-11-01 00:56] #25 closed, assigned to nobody

[2013-11-01 06:36] #27 closed, assigned to nobody

[2013-11-01 14:21] kelseyhightower opened #29 "Provide a quiet flag to silence non-error messages"

[2013-11-01 14:22] #29 closed, assigned to kelseyhightower

[2013-11-01 14:25] kelseyhightower opened #30 "Add dryrun/noop mode"
It's pretty easy to add a dryrun or noop mode to preview changes. I'm proposing a new flag, `-noop`, to enable this behavior.

[2013-11-03 15:56] kelseyhightower opened #32 "Improve logging, make it easy to enable/disable debug, warning, and info messages"

[2013-11-03 17:09] kelseyhightower opened #33 "Document etcd SRV record support"
Before release there MUST be a wiki entry on how to use SRV records to configure etcd nodes.

[2013-11-03 17:10] kelseyhightower opened #34 "Document noop mode"
Before release there MUST be a wiki entry on how to use noop mode.

[2013-11-03 17:11] kelseyhightower opened #35 "Document verbose, debug, and quiet logging modes"
Before release confd logging must be documented.

[2013-11-03 17:13] kelseyhightower opened #36 "Quick start wiki entry on getting up and running with confd"

[2013-11-04 02:05] #36 closed, assigned to nobody

[2013-11-04 02:06] #30 closed, assigned to kelseyhightower

[2013-11-04 02:06] #20 closed, assigned to kelseyhightower

[2013-11-04 02:57] #34 closed, assigned to nobody

[2013-11-04 03:09] #33 closed, assigned to nobody

[2013-11-04 03:14] #35 closed, assigned to nobody

[2013-11-04 03:54] #4 closed, assigned to kelseyhightower

[2013-11-04 03:56] #15 closed, assigned to kelseyhightower

[2013-11-04 04:00] #5 closed, assigned to nobody

[2014-01-16 20:53] gabrtv opened #38 "Intermittent ERROR exit status 2"
[code]

..running it a few more times eventually result in success.

An `strace` suggests an `EINPROGRESS` error on the connect() to etcd peers.  It seems like the socket FD (3) is being closed and reused a few times.  I suspect some kind of race condition.  I can dig in more, but I wanted to report it now.

[code]

[2014-02-17 22:49] #38 closed, assigned to kelseyhightower

[2014-02-20 14:38] miracle2k opened #41 "Controlling the files to be created via etcd"
Say I am configuring an application that supports a hooks.d/ directory. The app will run 'hooks.d/foo" when the "foo" event occurs.

It would be nice if I can add the hook to etcd, and confd would have to place it in the proper directory. Essentially, this amounts to a etcd key whose content's are mirrored to an actual directory on the disk.

Is this something that confd might support?

[2014-02-24 03:23] #22 closed, assigned to kelseyhightower

[2014-03-22 12:47] ChristianKniep opened #48 "Q: How to create INI-formated config files"
Bonjour,

I would like to control a config file that has a simple INI format (it's carbons storage-schemas.conf).
It is going to look like this:

[code]

To start simple I though about storing it like...

[code]

My template:

[code]

This results in...

[code]

So I am not that far away,  spliting the key with ''.split("/")[-1]'' and I got the last part of the key.
But this ruby-magic has to be i

[2014-03-24 12:40] halcyonCorsair opened #49 "confd should have an option to force a config update"
I have a situation where confd finds a different config file from what it expects:

[code]

However there seems to be no way for me to tell it to force overwrite the config file, and I'm forced to remove the old file before it will write a new one.

[2014-04-08 17:46] nesv opened #52 "panic: read /etc/confd/templates: is a directory"
I am trying to run the pre-built confd from the 0.3.0 release tar.gz archive, and I keep getting the following error:

[code]

My `/etc/confd/confd.toml` file reads as follows:

[code]

Why is confd attempting to read `/etc/confd/templates` as though it is a template file?

[2014-04-08 18:00] #52 closed, assigned to nobody

[2014-05-01 23:11] bscott opened #55 "Consul Support"
@kelseyhightower

I noticed Consul has been added, when will a new release be made?

I tried compiling Go on my own but running into an issue.

go build
github.com/kelseyhightower/confd/etcd/etcdutil
etcd/etcdutil/client.go:70: cannot use &node (type **etcd.Node) as type *etcd.Node in function argument

[2014-05-02 22:02] #55 closed, assigned to nobody

[2014-05-06 17:01] drnic opened #56 "watch etcd rather than poll"
@kelseyhightower do you have any ambitions to implement the etcd support to use etcd watching rather than polling?

[2014-05-06 17:03] drnic opened #57 "List of existing confd services?"
@kelseyhightower do you know of any public confd service implementations? Perhaps make a github community for them?

[2014-05-07 03:12] drnic opened #58 "-prefix doesn't seem to work; using it wrong?"
`--prefix /something` is not appending `/something` to my etcd lookups:

![tmux__tmux__13034](https://cloud.githubusercontent.com/assets/108/2898133/314824e4-d595-11e3-9d11-419a89b8d3d1.png)

Should this work or am I running the command incorrectly?

[2014-05-08 04:36] rafecolton opened #59 "Confd panics when config specifies >1 etcd node"
With both `0.3.0-beta1` and `0.3.0`, I get the issue described below.  What am I doing wrong?

This works

[code]

This, on the other hand...

[code]

...produces this:

[code]

[2014-05-08 06:50] thedrow opened #60 "Add an example using Consul to the README file"
The README file specifies that etcd should be available but the project also supports Consul.
An example of using Consul with confd should be added to the README.

[2014-05-12 03:47] #58 closed, assigned to kelseyhightower

[2014-05-12 03:49] #48 closed, assigned to nobody

[2014-05-12 03:54] #49 closed, assigned to nobody

[2014-05-12 04:04] #18 closed, assigned to kelseyhightower

[2014-05-12 04:07] #41 closed, assigned to nobody

[2014-05-12 22:37] bacongobbler opened #62 "confd fails on a nested loop"
If I have a nginx template like so:

[code]

When I try to run confd, it fails with the following:

[code]

However, moving that logic out of the loop and putting it separately and works nicely (notice `facebook.com` at the very bottom):

[code]

I'd be happy to contribute a fix. Any idea where I'd have to start looking?

[2014-05-14 19:01] ernesto-jimenez opened #64 "Prefixes not properly striped when using consul client"
The consul client returns the keys without the first `/` (e.g: `map[string]string{"prefix/key":value}`)

However, cleanKeys expects keys to have the first `/` in order to trim the prefix.

This can easily be tested:

[code]

Quick and dirty solution would be to strip first `/` from key and prefix before trimming prefix:

[code]

Would you rather do this or fix it in the consul client?

/cc @armon

[2014-05-15 04:28] #59 closed, assigned to kelseyhightower

[2014-05-15 15:36] lukedemi opened #65 "Consul iteration not working"
I'm not able to get template iteration to work via consul, although etcd is working fine.

test.conf.tmpl:

[code]

test.toml

[code]

etcd setup:

[code]

consul setup:

[code]

etcd 'test.conf' output:

[code]

consul 'test.conf' output:

[code]

[2014-05-16 18:10] #62 closed, assigned to nobody

[2014-05-17 06:04] drnic opened #66 "consul not removing the prefix keys from template variables"
Set a nested variable in consul:

[code]

Create a template:

[code]

Run consul:

[code]

Expected result is:

[code]

Actual result:

[code]

[2014-05-17 22:14] danieldreier opened #67 "Show output from reload_cmd"
It would be very helpful to show the output from reload_cmd and check_cmd in standard out. I've looked through the documentation and can't find an option.

I'm using confd with CoreOS, so sending all output to standard out logs it into journald. I can wrap the reload command and send output somewhere else, but sending it to standard out would simplify my setup. Thanks!

[2014-05-19 17:02] glerchundi opened #68 "os.Rename fails if destination is another device"
I'm trying to get the configuration into a different partition but confd fails in 'os.Rename'. The solution could be to copy first and then delete the original (temporal stage file).

Refer to:
https://groups.google.com/forum/#!topic/golang-dev/5w7Jmg_iCJQ

[2014-05-19 19:38] #66 closed, assigned to nobody

[2014-05-20 14:01] #60 closed, assigned to kelseyhightower

[2014-05-20 14:36] #64 closed, assigned to nobody

[2014-05-20 14:53] kelseyhightower opened #70 "More docs around real-world usage."
confd is great, but we really need more docs with examples on how to use it well. Docs should cover both etcd and consul.

[2014-05-21 18:47] elsonrodriguez opened #71 "Link to Quickstart Guide broken in docs/installation.md"
Looks like the link should go to: docs/quick-start-guide.md

[2014-05-23 19:59] mentalblock opened #73 "Support for environment variables when processing templates"
It would be convenient if confd supported interpolation of templates by using values from environment variables. The following use cases would take advantage of this feature.
- Local development on a workstation which does not have a local etcd or consul available can make use of the confd templates. When a configuration service is available, one can switch to a confd configuration that will make

[2014-05-27 15:38] #65 closed, assigned to kelseyhightower

[2014-05-28 08:38] bjaglin opened #75 "expose version"
I am missing a `confd version` command, that would simply output the `Version` const. I had a quick look at the code and saw that the vanilla go `flag` library doesn't support such sub-command.

Maybe a `--version` flag would do the job? (but would still have weird semantics as other flags would be ignored and the command would return without actually starting `confd`).

[2014-05-28 12:42] JensRantil opened #76 "Signal process about updated template"
Just stumbled across this project. Does confd support sending a signal SIGUSR etc. or executing a script when a template has been updated?

[2014-06-01 18:07] #76 closed, assigned to nobody

[2014-06-02 16:06] majksner opened #78 "Error in integration template for consul iteration"
Hi, I think there is a error in integration docs for consul. https://github.com/kelseyhightower/confd/blob/master/integration/confdir/templates/iteration.conf.tmpl contains `GetDir` which throws error.

[code]

[2014-06-03 19:22] fritzy opened #79 "conf.d/ files should be dynamic"
Use case:
dev environment, easy script install of confd configuration, but nginx needs full path to the output file, so `dest = "$OUTPUTDIR/nginx.conf"` or `dest = {{nginx_conf_dir}}/nginx.conf` or something like that.

[2014-06-03 23:04] progrium opened #81 "too many open files"
Was running it at 1 second interval for 20 minutes and ran into a HUGE stacktrace:

[code]

on and on ... about 3550 goroutines ... anyway, too many open files? Maybe they're not being closed? Certainly way more goroutines than there should be.

Running the 0.4.0-beta3, ran with:
`confd -verbose -interval 1 -consul -consul-addr 127.0.0.1:8500`

[2014-06-03 23:14] carmstrong opened #82 "confd should err instead of writing '<no value>' to templates when a key doesn't exist"
Currently, confd will write `<no value>` to a template in all places where a key is templated but there is no value in the store. This makes it hard to use confd in some cases - for example, [in Deis](https://github.com/deis/deis/blob/master/controller/bin/boot#L44-L49), we have to loop over the template file and wait until there are no instances of `<no value>`. Then, we continue standing up serv

[2014-06-04 00:22] progrium opened #83 "model nodes and directories as the same object"
Because they effectively are in consul and etcd. The way you have it makes it impossible to do basic operations without special cases (GetDir, MapDir, etc)

[2014-06-05 00:35] fritzy opened #84 "Crash on file error"
[code]

Seems to indicate that when the file couldn't be created, it tries to delete the file, but "temp" isn't actually properly initialized (due to the error), and so the temp.Name() blows up.

This could be handled more gracefully, with a more useful error.

[2014-06-12 01:33] #73 closed, assigned to nobody

[2014-06-12 01:34] #57 closed, assigned to kelseyhightower

[2014-06-12 01:35] #71 closed, assigned to nobody

[2014-06-12 05:24] #75 closed, assigned to nobody

[2014-06-12 08:13] #84 closed, assigned to nobody

[2014-06-12 08:16] #68 closed, assigned to kelseyhightower

[2014-06-12 08:31] #79 closed, assigned to nobody

[2014-06-12 08:33] #70 closed, assigned to nobody

[2014-06-12 08:49] #78 closed, assigned to nobody

[2014-06-12 09:00] bjaglin opened #86 "`-backend` is a required option in 0.4.0"
Despite what the doc says, the `-backend` option introduced in https://github.com/kelseyhightower/confd/commit/e955a0353fdbd41c30c891b9e8e458476927ad0e seems to be required. I am not sure why, since the fallback code looks fine... I am not very familiar with go though, so it might just be the string comparison?

I tried with latest master, and the default seems to work there - I am just filing thi

[2014-06-12 09:25] #86 closed, assigned to nobody

[2014-06-13 01:24] #67 closed, assigned to nobody

[2014-06-13 02:51] #81 closed, assigned to nobody

[2014-06-17 16:02] mentalblock opened #89 "Zookeeper Backend"
As the use of Docker containers for hosting applications on distributed clusters become more popular, the need for orchestrating these Docker containers are being met with projects such as Spotify's Helios and Apache Mesos.

Both of these cluster managers require Zookeeper to manage their cluster state and it would be really convenient if Confd supported Zookeeper as a backend. If Zookeeper was su

[2014-06-23 17:56] benbooth493 opened #90 "Cannot parse etcd dirs that are UUID"
I have directories in etcd that are a UUID (the unique instance name of some VMs). When I try to generate configs using said UUID as the key, I get:
unexpected bad character U+002D '-' in range

My keys in the TOML are:
keys = [
"/env/03757D71-B401-47B2-B85F-35B0105F56D3",
]

Any ideas?

Regards,
Ben

[2014-06-24 09:03] benbooth493 opened #91 "How can I range over nested keys in the template?"
I have keys in etcd like this:
/env/vm01/services/webnode/hosts/webnode01
/env/vm01/services/webnode/hosts/webnode02
/env/vm01/services/dbnode/hosts/dbnode01

I need to be able to range over all the keys starting at /env/vm01/service
My resulting template would need to look like:
Services:
  webnode:
    Hosts:
      - webnode01
      - webnode02
  dbnode:
    Hosts:
      - dbnode01

Really strug

[2014-06-24 09:07] #91 closed, assigned to nobody

[2014-06-25 13:12] benbooth493 opened #92 "Cannot iterate over consul keys"
I saw that this issue has been raised previously, and fixed. But unfortunately this is not working for me on 0.5.0 beta2.

I can get this working perfectly with etcd, but consul simply doesn't work.

[2014-06-27 00:23] robpalmer opened #93 "Pick a random node from within a directory"
I'd love to be able to pick a random node and use that. I've been able to iterate over the entire directory, but I can't seem to limit it to a single a random node.

[2014-06-30 07:59] #90 closed, assigned to nobody

[2014-07-02 23:52] carmstrong opened #94 "Templating with dynamic key names"
I'd like to use confd to template configuration files with dynamic key names. For example, if I want to write a config file like the following:

[code]

I could do this normally with confd if my values are in a known key:

[code]

However, I'm in the situation where my values are keyspaced by their host:

[code]

Assuming my current host is stored in a template variable, how can I reference it? I

[2014-07-04 13:22] leg100 opened #95 "confd should exit cleanly"
When I send a Ctrl-C to confd it returns a non-zero exit code (2). I'd like it to return zero instead. I don't know if such behaviour is a unix principle but I'd like a way to stop confd, and differentiate that from genuine failures.

(I'm running confd inside a docker container on CoreOS, wrapped in a systemd unit. When I run `systemctl stop confd.service`, that runs `docker stop`, which in turn

[2014-07-06 01:14] #95 closed, assigned to nobody

[2014-07-09 08:34] lukebond opened #96 "Q: Is it possible to append to a file rather than replace it?"
My use case is taking a public SSH key from etcd and appending it to `~/.ssh/authorized_keys`. I don't want to blow away what's already in there.

[2014-07-09 13:38] #96 closed, assigned to nobody

[2014-07-09 21:16] cap10morgan opened #97 "Add a flag to keep generated files around after they fail the check_cmd"
This would help with debugging why the check_cmd failed.

[2014-07-10 07:40] majksner opened #98 "Confd trying to connect to etcd instead of consul with v0.6.0-alpha1"
Confd trying to connect to etcd even if consul is set as backend in confd config file (/etc/confd/confd.toml)

[code]

Error:

[code]

However running consul with arguments without config file works fine.

[code]

[2014-07-10 10:50] Telmo opened #99 "Support for complex hierarchies in etcd/consul"
I am setting up a docker container as nginx frontend for multiple applications and using confd to updated the configuration. Application register themselves with etcd when they come up with a specified pattern.

/<environment>/<service>/<upstream>/<dockerid>

The issue is that because of the limits of text/template (I come from a Ruby background and years of ERB experience) I can't generate files

[2014-07-10 21:12] johnrengelman opened #100 "Support Consul service endpoints for service discovery"
Currently, confd is limited to accessing the KV store of consul. It would be very helpful if the service and nodes endpoints could also be accessed. Then things like writing a HAProxy conf file can be done by querying the healthy endpoints for a service in Consul (not sure what/if there is a similar feature in etcd).

Would there be interest in a feature like this? I may be able to get schedule so

[2014-07-22 13:12] jalev opened #104 "check_cmd failing because it's checking a file that hasn't been written?"
Problem: I have confd updating the config of an nginx reverse-proxy, and would like to have the compiled file checked before reloading the the server. Running on 0.6.0 A1

My template:

[code]

My confd.toml:

[code]

Logs

[code]

When I try to cat app.conf, it doesn't appear to exist (neither does .app*).

[2014-07-22 14:51] #104 closed, assigned to nobody

[2014-07-24 09:31] philipz opened #105 "About Interation Templates"
Sir, I try use confd on MySQL Cluster, but my.conf IP address is combine not a newline.
How should I write the template? Thank you!
wsrep_cluster_address=gcomm://172.17.0.2,172.17.0.3,172.17.0.4

[2014-07-24 16:33] #105 closed, assigned to nobody

[2014-07-29 21:40] wingdog opened #107 "Sort the result when the key is etcd directory"
Would like to have the result sorted from an etcd directory.

Use case:
A list of servers update their ip addresses in a etcd directory constantly with TTL and use confd to update the configuration from that directory.  confd will treat random order as different result even the set of servers is the same.

[2014-07-30 06:56] carmstrong opened #108 "confd 0.6.x: getting an arbitrary part of the key path"
We have paths in etcd as follows:

[code]

I'm trying to template this with confd. It seems like I can match these keys as follows:

[code]

However, I need to use the elements of the path in my template logic. In this case, I need to write out `inward-overalls` in my template. I wish I could do something like this:

[code]

...but I'm not sure how arbitrary function calls work in golang templates

[2014-07-30 07:01] #94 closed, assigned to nobody

[2014-08-04 01:48] jetadmin opened #110 "No Activity in last one month"
There is no activity in any of the branches in last one month.

There are lot of pull requests which needs to be merged, one of the most important ones is https://github.com/kelseyhightower/confd/pull/102

Can we count on this project?

Please let us know.

Regards

[2014-08-04 14:34] #110 closed, assigned to nobody

[2014-08-04 14:35] #107 closed, assigned to nobody

[2014-08-04 15:15] #83 closed, assigned to nobody

[2014-08-04 15:22] #82 closed, assigned to nobody

[2014-08-04 22:53] #100 closed, assigned to nobody

[2014-08-05 21:27] mohitarora opened #113 "v0.6.0-alpha1 not working for me"
Hi

I am using v0.6.0-alpha1 and its not working for me. Here are the error details with template and conf

---

[template]
src         = "nginx-backend.conf.tmpl"
dest        = "/etc/nginx/conf.d/backend-upstream.conf"
owner     = "root"
group      = "root"
mode      = "0644"
keys        = [ "/ironman/web" ]
check_cmd   = "/usr/sbin/nginx -t -c /etc/nginx/nginx.conf"
reload_cmd  = "/usr/sbin/serv

[2014-08-06 03:05] #98 closed, assigned to nobody

[2014-08-06 03:37] #97 closed, assigned to kelseyhightower

[2014-08-06 03:39] #92 closed, assigned to nobody

[2014-08-06 03:40] #89 closed, assigned to nobody

[2014-08-07 05:25] elasticdog opened #115 "Owner and Group Always Set to 0 ("root")"
I'm running confd v0.5.0 on an Ubuntu 14.04 LTS host and am having trouble with altering the owner and group for a template...no matter what I do, it changes things to be owned by the root user and root group, which is not desirable.

**/etc/confd/conf.d/example-json.toml**
[code]
...and it's creating the file with the desired contents, but the permissions are always set back to 0:

[code]
**/var/

[2014-08-07 19:37] jhmartin opened #116 "Sorting of consuld keys"
The results from etcd are sorted to ensure consistency; the results from consuld should be as well.

Otherwise you get things like ntpd being restarted constantly due to the order of the server entries.

[2014-08-08 13:13] #116 closed, assigned to nobody

[2014-08-10 20:04] #99 closed, assigned to nobody

[2014-08-14 10:26] sukrit007 opened #117 "0.6.x : Need some way to check existence of key"
With 0.6.x,  methods described at:
https://github.com/kelseyhightower/confd/blob/0.6.x/docs/templates.md

would fail if key is not found.

In many cases , we want to check if key exists prior to processing the template logic so that template processing does not stop.  WOuld be great if we can handle this in 0.6.x  may be by adding a method which can check for existence of key.

@kelseyhightower  y

[2014-08-14 13:42] #113 closed, assigned to nobody

[2014-08-16 04:43] #93 closed, assigned to kelseyhightower

[2014-08-18 21:10] sukrit007 opened #118 "0.6.x : ls does not return correct result with keys using same prefix"
**Given**: 2 etcd keys
/global/listeners/http/bind
/global/listeners/https/bind

**And**: Test configuration template for my application

[code]

**When**:  I delete "/global/listeners/http/bind" key

**Then**: The value of {{len $test}} still evaluates to 2.

**Expected**: The value should have changed to 1.

**Note** : This issue happens when 2 keys share the same prefix.  If we append "/" to pa

[2014-08-21 00:44] donatello opened #119 "0.6.x alpha3: Crash with SSL and own CA"
I just tried to run confd and it crashes while initializing. I am new to `go`. Am I doing something wrong? If not, could you suggest a work-around?

[code]

I think my config above is correct, because I can access `etcd` with `curl`:

[code]

[2014-08-28 09:45] ajcurated opened #120 "Crash when specifying multiple nodes in confd.toml"
##### Issue

version: 0.5.0

When I set more than one node in the confd.toml confd will panic on start.

Setting `etcd_nodes = [ "http://172.29.12.71:4001", "http://172.29.12.71:4001", "http://172.29.12.71:4001" ]` panics on start.

 Setting it to `etcd_nodes = [ "http://172.29.12.71:4001" ]` works fine
##### Panic

[code]
##### confd.toml

[code]

[2014-08-28 16:08] qtrfeast opened #121 "confd hangs when dest is out of date and check_cmd is specified"
When running a `-onetime` update for the first time on a freshly booted container, I'm finding that the `confd` command hangs.

My toml file:

[code]

The command I run:

[code]

I see the following output, but the process never exits. If I manually Ctrl-C, however, I find the config file has been properly updated. If I then run `haproxy -f /etc/haproxy/haproxy.cfg -c` I see `Configuration file is

[2014-08-28 16:13] #121 closed, assigned to nobody

[2014-08-29 01:02] carmstrong opened #122 "confd can't template /etc/hosts"
As of Docker 1.2.0, /etc/hosts is writable from within a container. However, confd can't swap it out:

[code]

This is likely because of how /etc/hosts is mounted:

[code]

Are there any known workarounds to this?

[2014-09-02 03:58] #122 closed, assigned to nobody

[2014-09-09 04:03] drnic opened #124 "[0.6.x] consul values are all "<no value>""
I have a working toml & template for v0.5 but with v0.6.x (from HEAD of the branch & last release) my generated files have `<no value>`.

To confirm, is the following how to run consul with v0.6?

[code]

[2014-09-09 13:42] WillPlatnick opened #125 "Squelch INFO Target config in sync"
I have been unable to find a way that I can get rid of the INFO Target config in sync message, but keep the fact that a config file has been changed. I'm polling every 5 seconds, so it's creating a lot of useless log files.

[2014-09-09 18:29] HelloGrayson opened #127 "Support for marathon"
Marathon has "service discovery" support which potentially confd could integrate with. This would make workflows as "develop locally with fig" then "deploy to mesos" more abstracted and transparent.

What do you think?

[2014-09-17 08:35] flantel opened #128 "Using Split in confd templates?"
Hi,

First off I am a total novice regarding go and go templates, so please excuse!

I am trying out Jeff Lindsay's Registrator (https://github.com/progrium/registrator) for service announcement. Seems like a much better way than using sidekicks.

With registrator, the key is made up as hostname:container-name:internal-port:(udp if udp)

I would like to be able to split the key so that I can then

[2014-09-18 14:33] #119 closed, assigned to nobody

[2014-09-18 14:37] #124 closed, assigned to nobody

[2014-09-18 14:44] #108 closed, assigned to nobody

[2014-09-19 13:22] bfosberry opened #130 "Confd giving a 501 peers not reachable"
[code]

When using etcdctl with this remote server, I do have to use " --no-sync" since the remote server thinks its running on 127.0.0.1:4001. This may be why confd is having trouble

[2014-09-20 20:26] bfosberry opened #131 "prefix is required in toml file however it does not interpolate env variables"
Im namespacing config behind an id, so my execution looks like this:

[code]

Lets say there is a value at /_$SEVER_ID/config/mykey = myvalue

If I want to write a template

[code]

my toml file needs to look like this:

[code]

Ideally I could just place "mykey" into the keys array, however, I could not get that to work with the prefix.

The problem is that the toml file does not interpolate env

[2014-09-20 20:28] bfosberry opened #132 "optional values are not supported"
text/template supports optional values:

[code]

however the keys array means you either get "no value" dumped into the config if the key is not listed in the array, or you get an error at runtime if the item in the keys array is not listed in the backend

[2014-09-20 21:31] bfosberry opened #133 "Env backend is no longer supported"
Could you either re-enable specifying it as a backend, or update the docs to reflect that env backend no longer works

[2014-09-28 00:18] #131 closed, assigned to jsolmon

[2014-09-28 00:19] #130 closed, assigned to nobody

[2014-09-28 01:05] #125 closed, assigned to nobody

[2014-09-28 01:08] #133 closed, assigned to jsolmon

[2014-09-28 01:09] #117 closed, assigned to nobody

[2014-09-28 01:13] #127 closed, assigned to nobody

[2014-09-28 01:14] #132 closed, assigned to jsolmon

[2014-09-28 05:12] wiliamsouza opened #135 "eq comparison"
Trying the following template comparison using functions:

[code]

and getting this error:

[code]

It sens that `.apollo_environment` is not a type wanted by `https://golang.org/src/pkg/text/template/funcs.go` lines `283-299`

[2014-09-28 05:26] #135 closed, assigned to nobody

[2014-09-28 21:31] #128 closed, assigned to jsolmon

[2014-09-30 05:25] gregdurham opened #138 "Add last method to template"
Hello, In a template, I am looking to create a string of this format: a, b, c.

I currently am doing:
{{range $i, $e := .nodes}}{{$e.Value}}{{if last $i $e | not}}, {{end}}{{end}}

which allows me to get the last object and not put a comma after it. Currently, I get an error that says that the last method doesn't exist. Thanks!

-Greg

[2014-10-04 01:15] freman opened #139 "Sort order not consistant?"
I suspect the sorting is done by when the key was last updated/inserted as whenever a key is updated it is changing the sort order of the entries in the output file.

Can we sort by name or even make it customisable?

[2014-10-04 19:58] danielschonfeld opened #140 "etcd-scheme doesn't get set, failing host:port usage of -node and -srv-domain"
it seems like etcd-scheme isn't getting set for whatever reason, causing the usage of 'host:port' string to fail when using both -node and -srv-domain.

[2014-10-04 19:59] danielschonfeld opened #141 "etcd-scheme not reflected in command line allowed options"
in 0.6.0 scheme was changed to etcd-scheme and is not allowed when invoked as a command line flag.

./confd -etcd-scheme is not allowed.

while it's looking inside the toml for "etcd_scheme".

[2014-10-05 17:07] #141 closed, assigned to kelseyhightower

[2014-10-06 01:43] #140 closed, assigned to kelseyhightower

[2014-10-06 03:11] #118 closed, assigned to nobody

[2014-10-06 03:15] #139 closed, assigned to nobody

[2014-10-07 00:21] freman opened #144 "Incorrect version"
Grabbing latest build

root@lb_nginx-2-valid:/# wget https://github.com/kelseyhightower/confd/releases/download/v0.6.1/confd-0.6.1-linux-amd64
--2014-10-07 00:01:07--  https://github.com/kelseyhightower/confd/releases/download/v0.6.1/confd-0.6.1-linux-amd64
Resolving github.com (github.com)... 192.30.252.131
Connecting to github.com (github.com)|192.30.252.131|:443... connected.
HTTP request sent,

[2014-10-07 00:27] freman opened #145 "Protocol not prepended to nodes"
Nodes no matter how they are specified don't get $protocol:// prepended to them

root@lb_nginx-2-valid:/# confd -debug=true -verbose=true -scheme=http -node="piano.domain.local:4001"
2014-10-07T00:23:36Z lb_nginx-2-valid confd[306]: WARNING Skipping confd config file.
2014-10-07T00:23:36Z lb_nginx-2-valid confd[306]: NOTICE Backend set to etcd
2014-10-07T00:23:36Z lb_nginx-2-valid confd[306]: NOTI

[2014-10-07 01:08] #145 closed, assigned to nobody

[2014-10-07 01:20] #144 closed, assigned to nobody

[2014-10-07 13:48] provonet opened #146 "ACL support for consul backend"
Hi,

Consul 0.4.0 supports acl's, are there any plans to support this in the consul backend ?

cheers,

Johan

[2014-10-09 09:13] chrisjenx opened #148 "error calling json: invalid character '.' after object key:value pair"
I get the following error with 0.6.3 (and 0.6.2).
ERROR template: elasticsearch.yml.tmpl:62:11: executing "elasticsearch.yml.tmpl" at <json .>: error calling json: invalid character '.' after object key:value pair

I have the following in my template:

[code]

I have no keys set at this point, but I would assume it would never go into the range if there are no keys yet set?

As it seems to be comp

[2014-10-09 19:25] #148 closed, assigned to kelseyhightower

[2014-10-10 10:42] chrisjenx opened #149 "Inject ENV Variables into templates"
I know you support the "env" backend.

But there are some cases where it would be great to allow "etcd" and "env" variables to be injected.

Maybe something like:

[code]

Which would relate to:

[code]

Syntax aside this something you would be willing to add?

[2014-10-14 07:31] stream-iori opened #151 "ERROR exit status 127 on centos:latest"
I use confd 0.6.3 which could work well on darwin with my test but can not work on centos.
I don't have try to on ubuntu.

2014-10-12T01:23:06+01:00 boot2docker confd[7]: INFO Target config /etc/nginx/conf.d/app.conf out of sync
2014-10-12T01:23:06+01:00 boot2docker confd[7]: ERROR exit status 127

This error have no effect to conf and all the thing work as i expected. i think this maybe a tricky

[2014-10-14 09:27] #151 closed, assigned to nobody

[2014-10-15 16:59] nickfleming opened #152 "Confd giving a 501 peers not reachable single node etcd"
I am running confd in a docker container, with the docker host running etcd. I am able to get values from etcdctl as well as curl, but confd gives the 501: All the given peers are not reachable.
Bash script (for testing) running inside the container:

[code]

And here is the output I am getting:

[code]

The top two lines show the correct ip and port are being used (unlike https://github.com/kelse

[2014-10-16 11:04] mindscratch opened #154 "Add support to watch consul services"
I'd like to have confd watch for a service to be reigstered in consul, when that happens, re-render a template based on information provided by the watch.

[2014-10-16 23:25] #154 closed, assigned to nobody

[2014-10-19 02:31] #152 closed, assigned to nobody

[2014-10-19 02:37] #56 closed, assigned to nobody

[2014-10-21 08:16] adamlc opened #155 "I am having problems getting confd to read from etcd"
Hi Everyone!

I'm trying to setup confd to read nginx user auth from etcd. Unfortunately whatever I try doesn't seem to work! Confd runs but doesn't seem to be reading the keys from etcd inside a Docker container.

Heres my settings

/etc/confd/conf.d/registry.users.toml

[code]

/etc/confd/templates/registry.users.tmpl

[code]

Running confd

[code]

[code]

Unfortunately the /etc/registry.users

[2014-10-23 13:59] #155 closed, assigned to nobody

[2014-10-23 19:28] byxorna opened #156 "nil pointer dereference with -watch"
Running 0d1283fd306638942587264865bca070b7455f64, I have been seeing crashes when using the -watch flag with etcd after a few successful config generations.

[code]

Please let me know what other information that you may find useful.
Full stacktrace here: https://gist.github.com/byxorna/bae6e4e745ce936001b6

Thanks!

[2014-10-25 07:56] freman opened #157 "Support random s/vs selection"
From IRC:

Freman: Feature request Mr Kelseyhightower (surprised it's not in the text/template lib) I'd like to be able to pick a random value from gets/getvs

carmstrong Freman: that would result in your template getting written (and reload_cmd potentially restarting the service) every time confd runs. In most scenarios, that isn't desirable
Freeman: yeh I know
Freeman: funnily enough, it's exact

[2014-10-25 22:35] ernado opened #158 "How to remove additional line breaks?"
nginx.tmpl

[code]

Produces:

[code]

How to remove additional line breaks in "upstream" section?

[2014-10-25 23:31] #158 closed, assigned to nobody

[2014-10-26 00:35] iangelov opened #159 "Support conditional templates"
Hey there - and what a nice piece of software!

We have a fairly dynamic infrastructure and we can't really use static templates, because not applications  are going to use the same settings. I'm aware that this could be accomplished by using different namespaces for them, but that means that we would need to create one per every different type of configuration set which would quickly spin out of

[2014-10-26 16:06] #159 closed, assigned to nobody

[2014-10-26 23:05] #156 closed, assigned to nobody

[2014-10-28 17:06] #149 closed, assigned to nobody

[2014-10-29 04:52] #120 closed, assigned to nobody

[2014-10-29 04:56] #157 closed, assigned to nobody

[2014-10-31 17:55] bakins opened #166 "Make confd a package?"
I have a use case where something like confd would be ideal, but I have a custom "config store" that really doesn't make sense to move to etcd/consul. My "store" is not general useful outside of my project, so no value to adding to confd.  I could just fork confd and add support, but it's conceptually simple to add custom backend support to confd. I mocked something up at https://github.com/bakins

[2014-11-04 18:51] abrooks opened #167 "confd collides with Cisco/tail-f ConfD"
Thanks for your wonderful tool!

In my company, we are looking to incorporate your kelseyhightower/confd into our environment... an environment that already includes [Cisco/tail-f ConfD](http://www.tail-f.com/on-device-configuration-management/) and this is leading to great confusion. We can, of course, adopt our own internal name for kelseyhightower/confd but that brings with it other forms of co

[2014-11-07 12:05] rishid opened #168 "Add support for Redis as backend"
I currently use Redis as a configuration backend in a simple static environment, it would be awesome if confd could add support for using Redis as a backend to create the templates.

[2014-11-07 15:32] mekanix opened #169 "Consul services"
I have a working setup of consul and registrator, but I can't seem to get it right. I used https://github.com/kelseyhightower/confd/blob/master/integration/confdir/conf.d/service.toml, https://github.com/kelseyhightower/confd/blob/master/integration/confdir/templates/service.conf.tmpl and https://github.com/kelseyhightower/confd/blob/master/integration/consul/test.sh with slight changes (different

[2014-11-09 12:33] 0xgeert opened #170 "reloading applications to pick up new config file changes: rolling update supported?"
Is restarting frontend facing appservers running Node based on app changes picked up by ConfD a supported usecase?

In that case I don't want to restart all appservers at once. Instead, I want to do a rolling update so there's no downtime. Is this something that is supported, or should this be baked in at the application side? If so, any pointers?

[2014-11-09 18:31] #167 closed, assigned to nobody

[2014-11-11 11:42] kuon opened #171 "Confd error"
I keep having the following error:

[code]

The error happens 3 times every 5 minutes (default interval?)

With confd 7.0.0-beta1

I don't use json in my templates.

I'm starting confd with:

[code]

Might be related to https://github.com/coreos/fleet/issues/878

[2014-11-12 17:37] stuart-warren opened #172 "Doesn't appear to handle removed keys"
Hi,

I'm trying to use this to configure haproxy on a 1 node etcd cluster for testing
I can add keys to Etcd and Confd builds my config and reloads haproxy fine, but if I remove keys, the config file it makes matches the old one. That is until I restart Confd then it builds the file properly.

I've noticed this using -watch and -interval
watch: http://pastebin.com/F0uBNbEi
interval: http://pastebi

[2014-11-13 18:04] drora opened #173 ": ERROR empty src template"
Hi guys,
whenever I try to run:
#### confd -onetime -node $ETCD -config-file /etc/confd/conf.d/nginx.toml

I've been getting this error:
### ERROR empty src template

see below my configuration files.

how can I tell the root cause of this failure?
why isn't the template loaded to confd?

///////////////////////////////////////
/## /etc/confd/conf.d/nginx.toml ::
/
/# The name of the template that

[2014-11-23 09:57] #170 closed, assigned to nobody

[2014-12-04 12:37] yaronr opened #176 "On 0.7.0-beta1, config check fails for no reason"
removing cfg_check 'solves' the problem (and resulting haproxy config is valid)

Note, this is something relatively new, from the last 24 hours or so

root@f60c7d3b0a76:/etc/confd# confd -onetime -node 10.10.0.1:4001
2014-12-04T12:24:09Z f60c7d3b0a76 confd[573]: NOTICE Backend set to etcd
2014-12-04T12:24:09Z f60c7d3b0a76 confd[573]: NOTICE Starting confd
2014-12-04T12:24:09Z f60c7d3b0a76 confd[57

[2014-12-04 16:25] cnelson opened #177 "getenv function is broken in 0.7.0-beta1"
### Configuration:

[code]
### Running:

`export TEST=foo && ./confd-0.7.0-linux-amd64 -onetime -confdir test`
### Results in:

[code]

[2014-12-09 05:07] #177 closed, assigned to nobody

[2014-12-09 05:09] #173 closed, assigned to nobody

[2014-12-09 05:13] #169 closed, assigned to nobody

[2014-12-09 05:14] #166 closed, assigned to nobody

[2014-12-09 05:50] #138 closed, assigned to nobody

[2014-12-09 08:18] #172 closed, assigned to nobody

[2014-12-09 17:22] #176 closed, assigned to nobody

[2014-12-10 01:25] #171 closed, assigned to nobody

[2014-12-11 20:18] rosskukulinski opened #178 "Config check failed causes confd to never be able to re-update"
Hi @kelseyhightower,

We're using confd v0.6.3 (looking through the change log, I don't see anything in 0.7.x related to our issue).

We occasionally have an issue where invalid information gets written to etcd due to what we think is a race condition in our service sidekicks.  Confd reads from etcd and writes out a config file which is now invalid.  An example would be a nginx upstream:

[code]

[2014-12-11 20:25] #178 closed, assigned to nobody

[2014-12-16 18:44] gozer opened #180 "panic: runtime error: invalid memory address or nil pointer dereference"
I am seeing this with confd 0.7.1 from time to time, during what appears to be a watch waiting period.

$> confd -backend=consul -watch=true -node=127.0.0.1:8500 -verbose=true -debug=true -prefix="/production"

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x0 pc=0x4ff627]

goroutine 63 [running]:
runtime.panic(0x72b9c0, 0x942bd3)
        /usr/lo

[2014-12-23 14:24] glerchundi opened #181 "ls & lsdir always returns base path instead of full"
I dont know if this is an expected behaviour but when I do this (following the example of [templates document](https://github.com/kelseyhightower/confd/blob/master/docs/templates.md#create-the-template-1)):

[code]

This is what it renders:
[code]

But I would expect this instead:
[code]

Obviously, if a prefix was used, this shouldn't be part of the full path.

If it was made in this way intentio

[2015-01-03 21:32] gregsymons opened #182 "confd exiting without explanation"
When I run confd 0.7.1 , it loads its configuration, and then promptly exits with no message and a 0 exit code. The config and sample output can be found in [this gist](https://gist.github.com/gregsymons/56410a35186be7cdedbd).

I'm a total Go noob, so after reading the code, I don't fully understand how this could happen.

[2015-01-03 22:46] gregsymons commented on #182
After mucking around some more, I changed all the lines in my `zoo.cfg.toml` to have initial caps, and it started "working" (I had a syntax error in the template that got reported properly). However, all the examples have the lines in all-lowercase. Is this a code bug or a documentation bug?

[2015-01-04 04:02] bacongobbler commented on #182
@gregsymons can you supply a reproducible failure case so we can confirm and test against it?

[2015-01-04 16:35] rdsubhas opened #183 "confd zero-conf mode"
Hi, Firstly thanks for the awesome library. The only problem we're facing is, confd itself requires a bunch of configuration files. We're having a bunch of services, each having its own service configuration as a template. But just for confd to play well, we're having to create `/etc/confd/...` templates. It also means that since the paths are dynamic, we can't hardcode paths in the TOML template

[2015-01-06 17:04] gregsymons commented on #182
Oops... had the wrong URL for the gist. You can find it [here](https://gist.github.com/gregsymons/56410a35186be7cdedbd).

[2015-01-06 17:05] gregsymons commented on #182
I'll add the working config file later tonight; I don't have access to it at the moment.

[2015-01-07 05:01] bcicen opened #184 "function "exists" not defined"
I'm attempting to use one of the patterns in the docs, but getting the error:
[code]
relevant code:
[code]

[2015-01-08 14:32] DixonsBrnoDevs opened #185 "confd processes all files in /etcd/confd/conf.d"
I'm not sure if I'm missing something, but when I run:

     confd -onetime -node $ETCD -config-file /etc/confd/conf.d/backends-apache.toml

confd processes also other files in /etc/confd/conf.d (e,g.: backends-f5.toml). The problem is that both configurations creates same file /etc/varnish/backends.vcl. Is this correct behaviour?

[2015-01-12 09:09] loveshell opened #186 "json int to Scientific notation ?"
/usr/local/etcd/etcdctl get /app/setting/a
{"a":2592000}
confd output convertd {a:2.592e+06}
but i want get 2592000

[2015-01-12 18:05] jeff-johnston commented on #184
I had this issue when using 0.6.3 as the exists function does not exist in 0.6.3 - this went away when I pulled down the latest binary version 0.7.1.

[2015-01-12 18:14] jeff-johnston opened #187 "Optional ranges for dynamic nginx proxy-ing multiple services."
We have an application where we want to proxy multiple services dynamically based on etcd keys. At any given time the etcd keys may exist for one service but not the other. When not all keys are present one of the following tmpl blocks will fail and no configuration gets written so no service gets proxied. I tried using the 'exists'  but it does not seem to handle wildcards. Inside the poolone dir

[2015-01-12 20:15] bacongobbler commented on #187
@jeff-johnston there's an example in the integration test suite: https://github.com/kelseyhightower/confd/blob/master/integration/confdir/templates/iteration.conf.tmpl#L1-L5

[2015-01-12 21:35] jeff-johnston commented on #187
Than you. While the "gets" in that pattern works also "if" all the configuration is set for both pools. It still fails and the template never gets written to destination if the in my test case there are etcd keys for poolone but no etcd keys for pooltwo. The problem isn't retrieving the values - the problem is that if no values exist confd won't keep going which is what we need to happen. Is there

[2015-01-12 21:56] flantel commented on #187
On 12 January 2015 at 21:35, jeff-johnston <notifications@github.com> wrote:

Hi Jeff,

Here is a snippet that I use for haproxy which I think does what you need.
I use "if ls /resource" to test if the key exists, and do a gets, otherwise
I write out a dummy line.

{{ if ls "/servers/pbxadmin"}}{{range gets "/servers/pbxadmin/*"}}server {{
base  .Key }} {{.Value}} cookie {{ base .Key}} check
{{end

[2015-01-13 03:35] bcicen commented on #184
Great; have it working now. Thanks!

[2015-01-13 03:36] #184 closed

[2015-01-13 15:27] kelseyhightower commented on #185
@DixonsBrnoDevs Yes, this is by design. You can create more than one confdir if you want to only generate one set of templates at a time.

[2015-01-13 15:29] kelseyhightower commented on #183
@rdsubhas +1 I think the next release of confd should support this and it should go in before 1.0.0.

[2015-01-14 07:43] bacongobbler commented on #182
Given [the following files](https://gist.github.com/bacongobbler/aa166632d66756d70363), I was able to reproduce this, though I think it's a limitation of `getv` being unable to determine if $server is a variable or a literal string.

[code]

[2015-01-14 07:52] bacongobbler commented on #186
@loveshell I'm not seeing this:

template:

[code]

toml:

[code]

[code]

Running those three I see:

[code]

Could you please describe your setup here, as well as a minimal reproducible test case please?

[2015-01-14 07:55] bacongobbler commented on #187
I think @flantel's snippet solves this problem quite nicely.

@jeff-johnston does that work for you?

[2015-01-14 08:13] bacongobbler commented on #181
To confirm, this seems to be the case when `lsdir` is being described in the unit tests: https://github.com/kelseyhightower/confd/blob/b05600f639d7542500e6aefe53a18faf23cd855f/resource/template/template_test.go#L289-L291

[2015-01-14 08:15] loveshell commented on #186
toml:

[code]
add datas:
[code]

template:

[code]

Run confd

[code]

i get this

[code]

[2015-01-14 08:29] bacongobbler commented on #186
That call to `json` is what's causing the issue. `json.Unmarshal()` decodes the integer into a float64 object, which when displayed shows up as 2.592e+06.

[2015-01-14 08:50] loveshell commented on #186
@bacongobbler how can i get raw value

[2015-01-14 09:16] OnSnail opened #188 "how can I create a tmpl file through confd ？"
I want to auto create a file "/etc/confd/templates/zookeeper.sh.tmpl",  Can you help me ?

data stored in etcd looks like this:
$etcdctl get /zookeeper/zookeeper01
1

my toml file is:
$ cat /etc/confd/conf.d/zookeeper.sh.tmpl.toml
[template]
src = "zookeeper.sh.tmpl.tmpl"
dest = "/etc/confd/templates/zookeeper.sh.tmpl"
keys = [
    "/zookeeper",
]

I want the dest file "/etc/confd/templates/zookee

[2015-01-14 13:52] jeff-johnston commented on #187
Yes I was able to get this working using the conditional if approach. Problem solved. Thx

[2015-01-14 13:52] #187 closed

[2015-01-14 14:54] glerchundi commented on #181
yes, i would expect:
[code]

thanks

[2015-01-14 20:45] swat30 opened #189 "'if exists' broken?"
Running into an issue with 'if exists' and how unset keys are handled.

Here is the behavior I'm seeing:
* Key is set in etcd AND key is defined in conf file, 'if exists' works (returns true)
* Key is not set in etcd AND key is defined in conf file, `confd -onetime` errors: `ERROR 100: Key not found (/key) [220]`
* Key is not set in etcd AND key is not defined in conf file, 'if exists' seems to wo

[2015-01-15 03:51] bacongobbler commented on #189
That's confd's intentional behaviour. It only has knowledge of the resources you provide in your template resource config. If it's defined, then it expects those keys, otherwise they're ignored. However, you don't need to define every key you want to template out. You can specify a directory instead:

[code]

and in your config:

[code]

Is there something I'm missing here?

[2015-01-15 13:15] swat30 commented on #189
Thanks for your help! That does indeed work for my use case.

What about a case where one does not want to monitor a directory? Say the key is in the root, and you don't require every key. Would it be valid to have an "optional_keys" list, where confd will use them if they exist, and ignore them if they do not?

Maybe I'm way off base, but it would certainly make config files more descriptive, and

[2015-01-15 15:24] bacongobbler commented on #186
Try `{{printf "%d" $data.a}}` and see if that works for you.

http://golang.org/pkg/text/template/

[2015-01-15 15:59] loveshell commented on #186
i had have a try

[code]

still output 2.592e+06

[2015-01-16 16:41] ryzy commented on #89
Guys, any progress on that? Is anybody working on it?

[2015-01-16 18:02] bacongobbler commented on #89
@ryzy #179

[2015-01-16 20:31] gregsymons commented on #182
@bacongobbler I think you've created a new issue. If you use [this file](https://gist.github.com/gregsymons/56410a35186be7cdedbd#file-working_zoo-cfg-toml) with the rest of the configuration in my gist, it works fine.

[2015-01-16 20:32] gregsymons commented on #182
Though now that I think of it, I hadn't actually gotten as far as you did and actually put servers under the servers key... I'll have to see what happens.

[2015-01-16 21:32] gregsymons commented on #182
Yeah... I'm seeing the same problem with getv now.

[2015-01-16 22:03] bacongobbler commented on #182
@gregsymons my files are just a few tweaks such that I could use the integration tests but essentially it's the same keys/values, just under different keyspaces.

[2015-01-17 03:49] gregsymons commented on #182
Yeah, the getv thing was definitely me not understanding how interpolation works. I made it work by using a pipeline: `{{ printf "/servers/%s/host" $host | getv }}`. The case sensitivity in the toml file though seems weird, because the integration tests all use lower case just like the documentation.

[2015-01-20 16:38] kelseyhightower commented on #189
@swat30 confd assumes that keys live in the right directories. You can also provide as many "root" directories to help filter which keys confd tries to pull.

[2015-01-20 16:42] swat30 commented on #189
Makes sense @kelseyhightower. Was just throwing that out there for the sake of discussion really!

Thanks

[2015-01-20 16:42] #189 closed

[2015-01-20 18:43] analytically opened #190 "Support for pongo2"
I'd be great if we could have templates that are more 'functional', like eg. https://github.com/flosch/pongo2

[2015-01-20 19:05] bacongobbler commented on #190
@analytically confd is a wrapper around Go's text/template package, so functional changes like how Go handles its templating language would have to be made upstream.

As far as feature set, the text/template language (along with some convenience functions supplied by confd) can do the same, more or less:

[code]

pongo is meant to deal with Django templates so it's going to have more "convenience"

[2015-01-23 16:05] analytically opened #192 "Combine env backend with consul/etcd?"
Is is possible to combine backends?

[2015-01-23 16:09] bacongobbler commented on #192
No. [Only one backend](https://github.com/kelseyhightower/confd/blob/0b0d0aa15df8709824cc74db386e8ad4e8f6bc6a/backends/client.go#L21) can be chosen at a time.

[2015-01-23 20:44] popsikle commented on #115
+1 to not changing uid:gid unless specified.

[2015-01-23 21:00] popsikle opened #193 "Add date function"
Id like to header my templates with something like this:

```#Generated by confd {{getenv "CONFD_VERSION"}} via {{getenv "ETCDCTL_PEERS"}} on {{ timestamp }}```

The version and stuff comes from docker/env but timestamp is a bit more dynamic.

Thanks!

[2015-01-23 21:59] bacongobbler commented on #193
looks liek this can be closed now that #194 was merged.

[2015-01-23 23:38] bacongobbler commented on #192
however, there is limited support for both if you set your backend as etcd or consul and use `getenv` to retrieve keys from your environment: https://github.com/kelseyhightower/confd/blob/master/docs/templates.md#getenv

Would that solve your use case?

[2015-01-28 21:57] #193 closed

[2015-01-30 11:26] abelaska commented on #183
+1

[2015-01-30 20:28] lordelph opened #195 "latest etcd client tries to load /v2/members rather than /v2/machines"
Running a new build of confd against an existing etcd 0.4.6 it fails to identify the cluster even though it is reachable with curl. confd returns the error

    ERROR cannot connect to etcd cluster: 172.17.8.102:4001

But `curl http://172.17.8.102:4001/v2/machines` succeeds.

I pulled down the confd code and traced through it to discover what was happening. It looks like the etcd client now looks

[2015-01-31 14:08] rdsubhas commented on #183
:+1: @kelseyhightower Thanks so much!

[2015-01-31 19:13] bacongobbler commented on #195
Since they're going to create a fork of the etcd client which supports 0.4.6 (according to their comments), we should probably support both `etcd` and `etcd2` drivers, with the `etcd` driver using the fork of the go-etcd client, and implementing `etcd2

[2015-02-05 19:54] thomascramer opened #197 "Checking a key exists and that it is set to a value"
I posted this question to the mailing list and irc channel and haven't gotten much of response.

I'm trying to check that a key exists and that it is set to a value.  However in go templates it looks like both expressions get processed in a condition instead of stopping if the first part fails.  So something like `{{ if and ( exists "/app/admin") ( eq (getv "/app/admin") "private")  }}` fails if t

[2015-02-06 18:46] lordelph commented on #197
I have a similar issue - I have an etcd directory `/foo/web`, and webservers write keys under that containing their ip and port. I have a template that writes an nginx config like this

    {{range getvs "/foo/web/*"}}
        server {{.}};
    {{end}}

If there are no webservers, confd will abort the attempt with "error calling getvs: no keys match". How can I tell if `/foo/web/` contains any key

[2015-02-08 08:14] flantel commented on #197
On 6 February 2015 at 18:46, Paul Dixon <notifications@github.com> wrote:

Try:

{{if ls "/foo/web"}}

{{range getvs "/foo/web/*"}}
    server {{.}};
{{end}}

{{end}}

Hope this helps.

-Barry Flanagan

[2015-02-08 12:33] lordelph commented on #197
Thanks - that's useful to know. I actually solved my problem using `ls` directly for the range, which doesn't throw an error on empty directories

    {{range ls "/foo/web/"}}
        server {{.}};
    {{end}}

[2015-02-09 17:04] analytically commented on #197
We used

[code]

[2015-02-10 03:15] swynter-ladbrokes commented on #197
We had /prelive/{service}/{port}/{host}

[code]

Note that the if gt (len...) could be written like range $d := l...

[2015-02-10 18:29] hkjn commented on #195
I was also hit by this, and also thought the issue was with etcd or go-etcd: https://github.com/coreos/etcd/issues/2273

Support for both major versions of etcd within confd would be nice, since currently the tutorial at https://www.digitalocean.com/community/tutorials/how-to-use-confd-and-etcd-to-dynamically-reconfigure-services-in-coreos won't work on CoreOS, which has etcd v0.4.6.

In the inter

[2015-02-10 18:33] bacongobbler commented on #195
The [vendored code](https://github.com/kelseyhightower/confd/blob/master/Godeps/Godeps.json#L14-L16) via Godep will have to be updated to use the 0.4.6 branch. That should suffice for the time being.

[2015-02-10 20:43] AlessandroEmm opened #199 "Get the last KV pairs of a hierarchy"
hey there

I'm currently trying to get confd to run between skydns entries in etcd and haproxy.
For achieving that I'd like to list all hosts(hostnames) that have been registered in a network.

SkyDNS structures its data like:
Key /skydns/FQDN-Part/FQDN-Part/servicename and its Value is the actual IP address

So my question is whether I can just omit the FQDN Part and just access the key at the en

[2015-02-11 06:32] icecreammatt opened #200 "Site Disabled"
I think this is the site for this repo...

![screen shot 2015-02-10 at 10 32 09 pm](https://cloud.githubusercontent.com/assets/1154569/6142922/b3816400-b174-11e4-9dfc-abe78604fc55.png)

http://www.confd.io/

[2015-02-11 07:02] bacongobbler commented on #200
Indeed. Github recently deprecated a bunch of old IP addresses so we need to update our DNS records for www.confd.io to `CNAME kelseyhightower.github.io`.

https://github.com/blog/1917-github-pages-legacy-ip-deprecation

[2015-02-11 07:43] lordelph commented on #195
@hkjn That tutorial should still be valid, as it advises using a binary release. I'm using the latest binary v.0.7.1 successfully against CoreOS stable 557.2.0. Typical Dockerfile entry to install it:

    RUN apt-get update && \
        DEBIAN_FRONTEND=noninteractive apt-get -y install curl && \
        curl -o /usr/bin/confd -L https://github.com/kelseyhightower/confd/releases/download/v0.7.1/co

[2015-02-11 09:16] bacongobbler commented on #195
Unfortunately I don't see a way around that. The go-etcd library locked for 0.7.1 is strictly compatible with 0.4.6 and earlier etcd clusters. etcd2 is backwards incompatible, so there's not much we can do there. :neutral_face:

We could shoehorn support for older and newer etcd clusters in confd. A solution could be to implement an `etcd2` backend, which will be more or less the exact same as the

[2015-02-11 10:40] wkruse commented on #199
It is probably an `etcd` issue. It is posible to get all keys/values in `etcd` recursively:

(**keys/values**)

[code]

(**keys**)

[code]

[2015-02-11 11:15] bacongobbler commented on #199
I'm not certain, but I think [getvs](https://github.com/kelseyhightower/memkv/blob/7f9c7f36f45ba80c62fe22779ee78d9b4ca36580/store.go#L103) is recursive, so this could work:

[code]

[2015-02-11 11:35] hkjn commented on #195
@lordelph That's what's odd here; I was indeed following the tutorial and downloading the same v.0.7.1 release binary, but hit this issue in CoreOS 522.6.0.

My Dockerfile has:
RUN apt-get update && apt-get -y install nginx curl
RUN curl -L https://github.com/kelseyhightower/confd/releases/download/v0.7.1/confd-0.7.1-linux-amd64 -o /usr/local/bin/confd
RUN chmod +x /usr/local/bin/confd

Any sugges

[2015-02-11 18:38] hkjn commented on #195
Okay, I've figured out what was causing confd to behave against my expectations in my case:
1. When confd is started I pass it the docker0 interface's IP, to allow the container to reach etcd on the CoreOS host, thusly: `confd -node http://172.17.42.1:4001 ...`.
2. [backends/etcd/client.go's `NewEtcdClient()`](https://github.com/kelseyhightower/confd/blob/master/backends/etcd/client.go#L31) calls

[2015-02-11 18:43] bacongobbler commented on #195
@hkjn if you nail it down, PRs/issues are always welcome! If you are still having trouble let's have this discussion on another bug since it seems like a separate issue than what @lordelph originally described in the OP.

[2015-02-11 19:05] hkjn commented on #195
You're right @bacongobbler, I dropped and pruned the comments that were irrelevant to the issue. PRs may come for the logging changes I suggested, sorry for the noise!

[2015-02-13 12:41] AlessandroEmm commented on #199
@bacongobbler i tried that:

`./confd-0.6.3-linux-amd64[648]: ERROR template: haproxy.cfg.tmpl:1:9: executing "haproxy.cfg.tmpl" at <getvs "/skydns/*">: error calling getvs: no keys match`

The Key Section of haproxy.cfg.tmpl is
keys = [
  "/skydns/",
]

But i tried with "/skydns/*" and others as well. The keys are obviously accessible via REST API.

[2015-02-13 20:46] calh opened #202 "Render a "generated file" warning header"
I've been looking through the Template Resources documents, and I don't see this feature.  Is it possible (easy) to add a warning header on the resulting rendered file, to tell others that any changes to the file will be overwritten by confd?

Here's the general idea I had:

/etc/confd/conf.d/haproxy.toml
[code]
And /etc/confd/templates/haproxy.cfg.header could be a plain text with with something

[2015-02-16 12:00] treed commented on #152
I am also having this issue with both addr and bind_addr set appropriately, on etcd 0.4.6.

Hopefully 0.5.0 will be out soon?

[2015-02-18 20:42] popsikle opened #205 "Issue when watched key is regenerated"
when using watch mode if the keys you are watching get rm'd and replaced conf.d seems to get stuck in a loop watching the old key/index.

Normal logs
[code]
Deploy of new app rm's a bunch of etcd keys and regenerates them right here, and confd never recovers
[code]

[2015-02-20 19:31] thomascramer commented on #197
I have been watching, but a lot of the suggestions seems to be around about dealing with a series of keys (i.e. range and ls) and I really just want to say `if "/foo/blah" exists and "/foo/blah" == "bar"` then do...  I know I could easily do that with jinja templating.  It looks like there is a similar package in go called pongo2 (https://github.com/flosch/pongo2) which seems far more robust then

[2015-02-20 19:46] thomascramer commented on #190
I think supporting pongo2 would be *huge* and I brought it up in my issue #197 that it would deal well with.  Go's text/template is very "simplistic" and while it offers a lot of ability to build the foundation of a templating engine, I wonder if confd really should really head down that road.  There have already been several template functions added to the function map for text/templates to allow

[2015-02-22 00:57] bacongobbler commented on #152
you may want to see if #195 applies and if #198 fixes your problem. It could be that confd is being built with go-etcd from master.

[2015-02-23 05:53] kelseyhightower commented on #202
@calh You can do this inside the template. Checkout the docs on how to add a timestamp to the the comment as well:

https://github.com/kelseyhightower/confd/blob/master/docs/templates.md#datetime

[2015-02-23 05:53] #202 closed

[2015-02-23 06:00] kelseyhightower commented on #200
Ok, I've updated the A records, we should be back online now.

[2015-02-23 06:00] #200 closed

[2015-02-23 06:03] kelseyhightower commented on #190
@analytically Thanks for the request. I've taken some time to review pongo2, and it looks great, but my goal is to keep confd really simple and the golang template package works well here. My hope is that people soon move away from config files and use something like etcd in the future.

[2015-02-23 06:03] #190 closed

[2015-02-23 06:03] kelseyhightower commented on #192
@analytically Looks like @bacongobbler answered your question so I'm closing this out.

[2015-02-23 06:03] #192 closed

[2015-02-23 06:06] kelseyhightower commented on #182
@bacongobbler @gregsymons Maybe we should update the docs here to make this more clear.

[2015-02-23 07:55] treed commented on #152
I don't think #195 applies, but #198 seems plausible. I'll watch that thread, thanks.

[2015-02-23 12:05] nickfleming commented on #152
After updating to the latest release (version 2.0.3) of etcd, this was fixed using the "-advertise-client-urls" flag in addition to the "-listen-client-urls" flag. If you are using the 0.4.x version, you need both the "-addr" and "-bind-addr" flags.

[2015-02-23 21:26] bilalaslam commented on #73
:+1: on docs

[2015-02-23 23:32] bacongobbler commented on #73
There's simple documentation at https://github.com/kelseyhightower/confd/blob/master/docs/quick-start-guide.md#environment-variables

[2015-02-25 07:33] stone opened #207 "Keys in config not transformed into keys for retrieval in templates using {{ .foo_bar }} syntax"
Version: confd 0.7.1 and git master branch.

https://github.com/kelseyhightower/confd/wiki/Quick-Start-Guide

    [myconfig]
    database_url = {{ .myapp_database_url }}
    database_user = {{ .myapp_database_user }}

Does not work, {{ .myapp_database_url }} becomes "no value" in output file.

https://github.com/kelseyhightower/confd/blob/master/docs/quick-start-guide.md
template:

    [myconfig]

[2015-02-25 15:55] bacongobbler commented on #207
The old syntax has been removed in favour of the latter. good catch :)

[2015-02-26 14:20] durzo commented on #168
I would +1 for Redis, purely because we could tap into amazons Elasticache meaning less infrastructure to manage.

Unfortunately I'm in the same boat presumably as @rishid - I'm no dev.

[2015-02-26 18:22] gozer opened #208 "Setting watch to true only works from the command-line"
Setting watch=true in /etc/confd/confd.toml has no effect, even if it is documented that it should.

A quick look at confd.go (pardon my weak go-foo) seems to indicate that to me. It's picking the processor based on cmdline arguments early and doesn't look at config.Watch

        switch {
        case watch:
                processor = template.WatchProcessor(templateConfig, stopChan, doneChan, e

[2015-02-27 00:41] durzo commented on #79
I have a need for this also.

I want to use confd to create config files based on etcd info, the structure looking like:

/app1/database/url
/app1/database/user
/app2/database/url
/app2/database/user

The problem is we have literally thousands (scaling to hundreds of thousands) of appX's, and they grow dynamically based on user signup.

we can already use a shared template to generate the dest fil

[2015-02-27 02:48] cgswong opened #209 "How to do conditional logic"
For the keys:
[code]

I have a JSON array for each as follows:
[code]

How would I do conditional logic to only use a comma between values used and not at the end. For example, for a single key the template file would end up with:
[code]
For multiple key detected
[code]

I realize this is more of a Go text/template question perhaps.

[2015-02-28 17:15] tleyden opened #211 "Is it possible to get the first key in a directory? What about looking at values"
In etcd I have the following key structure:

[code]

And I just want to get **one** of the children of the `foo` directory key (in fact I don't care which one).  Is this possible in confd?

Also, if would it be possible to add logic based on the value?  For example:

[code]

Is it possible to have confd return me the first key it sees under `/foo` where the value is `active`?

[2015-02-28 23:38] paulczar opened #212 "waiting until a condition is met before running reload_cmd"
I have a template which sets username/passwords via the API of the application being created by running itself as the `reload_cmd`

I run confd before the application is started and therefore the `reload_cmd` cannot run.    It appears to ignore an `&` if I put in at the end of the `reload_cmd` to try background it ( with a while loop inside checking for the API being up ).

So I would to either su

[2015-02-28 23:58] paulczar commented on #212
I have temporarily solved this by moving the `conf.d/manage.toml` file out of the `conf.d` directory and then after the app starts moving it back into `conf.d`.  not ideal but it unblocks me.

This does suggest an alternative,  allowing user to specify multiple `conf.d` directories.  that way I can have something like

[code]
and run confd pointing at both directories once the app is started.

[2015-03-01 09:52] logikal opened #214 "Question: Generating JSON while using .Key and .Value"
I have the following template to generate json configs for sensu. The problem is that accursed trailing comma in json.

Most examples I see use `join`, but I haven't found a way to use that while also using `.Key` and `.Value`.

Storing everything for $datacenter in json is possible, but unwanted. It'd work for this, but not some other files I need to generate.

Template:

[code]

Output:
[code]

[2015-03-03 20:25] cgswong opened #215 "getv results in different values using consul vs. etcd backend"
Template file snippet:
[code]
Using etcd backend the template file correctly gets populated:
[code]
Using consul backend the template file ends up with:
[code]
Checking consul (curl -L http://172.17.8.101:8500/v1/kv/services/logging/es/cluster?raw) the raw value is:
[code]
Is this expected behavior? If so, what should be the correct entry in the template?

[2015-03-03 20:43] bacongobbler commented on #215
The correct value should be the former for consul. I suspect that there may have been an internal client change if this worked in previous versions of confd.

[2015-03-04 18:46] mpchlets opened #216 "Key Not Found Stops Template"
When a key is missing or not found, the entire template stops processing. I saw there was an old issue about this and it was decided to continue generating the template - was that abandoned?

I am doing:

{{range $server := gets "/servers/*"}}

If the /servers/ directory is empty, I get:

executing "haproxy.cfg.tmpl" at <gets "/servers/...>: error calling gets: no keys match

confd then stops proc

[2015-03-05 10:21] alexnauda opened #217 "specify certs and keys using environment variables"
Is it possible to configure confd's -client-ca-keys, -client-cert, and -client-key using environment variables? For example, etcdctl allows configuration of these through $ETCDCTL_CERT_FILE, etc.

[2015-03-05 19:12] cgswong commented on #216
The method to get around this is:
[code]

[2015-03-05 19:26] mpchlets commented on #216
That is not a working solution, sometimes services are just not present, for instance:

I have haproxy riding off of confd, say that 2 servers go down, 1 is part of a cluster that still has servers in it, the other is the last server, this will prevent an update to haproxy to remove the servers and will just keep them in the config until a server is available. Now add another server to the mix, no

[2015-03-05 19:45] cgswong commented on #215
Both 0.6.3 and 0.7.1 result in the same behaviour. However, the KV method actually makes a difference. For example:
[code]
The above results in:
[code]
Removing the `value=` clause from the curl statement results in the correct value being used:
[code]
The above results in:
[code]
When using etcd, the latter results in a blank value, i.e. `cluster => ' while the former works as expected.

[2015-03-06 14:35] ndarilek commented on #205
Seeing this here as well. Is there a fix in sight? Unfortunately it seems to negate the benefits of confd if things aren't getting synced.

[2015-03-06 19:47] linbynd commented on #73
In the documentation the example is using the "getv". For pulling Environment variables. use getenv.

Ex:
[code]
info in https://github.com/kelseyhightower/confd/blob/master/docs/templates.md

[2015-03-09 07:31] treed commented on #152
I built my own copy of the pull request branch from #198, but I'm still getting the same error. :-/

[2015-03-09 07:57] bacongobbler commented on #152
@treed any feedback on the PR is greatly appreciated

[2015-03-09 08:20] treed commented on #152
Well is #198 really intended to solve this 501 error? If so, I'll can comment on it.

[2015-03-09 15:36] bacongobbler commented on #152
right. wrong bug!

[2015-03-09 19:22] popsikle commented on #205
@kelseyhightower I know you are super busy, but you think this is any issue in confd or the etcd library?

[2015-03-10 01:15] dieu commented on #152
I have the same problem

[2015-03-11 14:35] larsks opened #219 "I wish there was a `getv` equivalent that accepted a default value"
My templates often end up being far too verbose because of things like this:

[code]

That makes it quite hard to visually parse the config files.  Much easier would be something like:

[code]

[2015-03-11 16:35] kelseyhightower commented on #195
This issue seems to be affecting many people right now.

[2015-03-11 17:51] kelseyhightower commented on #195
Fixed on master and etcd 0.8.0 has been released: https://github.com/kelseyhightower/confd/releases/tag/v0.8.0

[2015-03-11 18:08] cgswong commented on #216
What does your current confd command line, and toml file look like? It seems like, not using `-onetime` and instead using `-watch=true` and reloading HAProxy via `reload_cmd` could work to update your configuration whenever there is a change to the KV even if there is no value. I currently use supervisord to run confd and this works fine whenever there is no key or a key change (it reloads/restart

[2015-03-17 12:50] analytically opened #221 "Updating loop when using {{ datetime }}"
[code]

We're seeing this. Any idea?

[2015-03-17 13:27] analytically commented on #221
`# Generated using confd {{datetime}}`

Could this be the culprit?

[2015-03-17 13:33] analytically commented on #221
Yep it seems like it.

[2015-03-20 21:47] kelseyhightower commented on #219
@larsks I wonder if we can do this on a way that backwards compatible.

[2015-03-20 21:48] kelseyhightower commented on #217
@alexnauda Currently no. But I think it makes sense to add support for that.

[2015-03-20 22:03] bacongobbler commented on #219
does `{{ or (getv "/example/app/option") "default_value"}}` accomplish the same thing?

[2015-03-20 22:06] bacongobbler commented on #180
ping @gozer

[2015-03-20 22:09] bacongobbler commented on #197
closing as this question seems to have been solved.

[2015-03-20 22:09] #197 closed

[2015-03-20 22:14] #195 closed

[2015-03-20 22:20] bacongobbler commented on #209
I'd take a look at `printf`: http://golang.org/pkg/text/template/#hdr-Functions

Were you eventually able to resolve this?

[2015-03-20 22:25] bacongobbler commented on #214
closing as a duplicate of #209

[2015-03-20 22:25] #214 closed

[2015-03-23 01:27] #168 closed

[2015-03-23 12:55] nebelpfade opened #229 "Are any variables usage inside toml files?"
Hello,

I'm trying to get something like:
[template]
src = "myconfig.conf.tmpl"
dest = "/tmp/myconfig.conf"
keys = [
    "/myapp/database/$DB_HOST",
    "/myapp/database/$DB_USER",
]

of course it doesn't work, but maybe I missed something and there any way to process any variables inside toml files?

[2015-03-23 13:30] cgswong commented on #209
@bacongobbler Thanks! I'll read through some more but it looks like it answers my question.

[2015-03-23 13:30] #209 closed

[2015-03-23 15:59] bacongobbler commented on #209
Another handy function would be `join`: https://github.com/kelseyhightower/confd/blob/master/docs/templates.md#join

[2015-03-23 22:36] kelseyhightower commented on #229
@nebelpfade Thanks for the question, but we do not support variables in the toml config files.

[2015-03-23 22:36] #229 closed

[2015-03-24 05:02] bacongobbler commented on #219
kelseyhightower/memkv#4

[2015-03-24 05:11] bacongobbler commented on #211
Yes. Use the `index` function: http://golang.org/pkg/text/template/#hdr-Functions

Try the following and see if it works for you:

[code]

[2015-03-24 05:50] bacongobbler commented on #181
@kelseyhightower is this the intended behaviour that we want? i.e. `lsdir`/`ls` returning the full path instead of the base path

[2015-03-24 06:00] bacongobbler commented on #181
Looks like this is (partially) out of our hands unless we update memkv:

https://github.com/kelseyhightower/memkv/blob/7f9c7f36f45ba80c62fe22779ee78d9b4ca36580/store.go#L127

https://github.com/kelseyhightower/memkv/blob/7f9c7f36f45ba80c62fe22779ee78d9b4ca36580/store.go#L144

[2015-03-24 06:15] bacongobbler commented on #207
I've updated the wiki for now, but it might be beneficial if we close the wiki in favour of the docs. I'll create a new bug for that. Thanks!

[2015-03-24 06:15] #207 closed

[2015-03-24 06:17] bacongobbler opened #233 "remove wiki"
The wiki is out of date and has not been maintained for quite some time. It would probably be more beneficial to remove it in favour of `docs`.

ref: #207

[2015-03-24 06:34] bacongobbler commented on #215
Where's the original documentation coming from? `-d value="es01"` will set that as the literal key... So it's working as intended.

[2015-03-24 06:43] bacongobbler commented on #205
I think it looks like an issue in etcd. The stack trace is as follows in confd:

https://github.com/kelseyhightower/confd/blob/2ad79d60cd9c284a379b13364322021158efa998/confd.go#L52
https://github.com/kelseyhightower/confd/blob/2ad79d60cd9c284a379b13364322021158efa998/resource/template/processor.go#L96
https://github.com/kelseyhightower/confd/blob/2ad79d60cd9c284a379b13364322021158efa998/backends/e

[2015-03-24 06:51] bacongobbler commented on #199
I was able to figure out a solution today, FYI:

Assuming the following keys:

[code]

The following works:

[code]

Which will result in

[code]

Let me know if that works for you.

[2015-03-24 12:33] larsks commented on #219
@bacongobbler While that expression accomplishes the same thing, for someone coming from a different background where things like `${somevar:-value}` or `{{somevar|default('value')}}` are possible it seems needlessly verbose.

That linked patch looks like a step in the right direction, although it could use some documentation to go with it.

[2015-03-24 15:11] tleyden commented on #211
Thanks!

[2015-03-24 15:11] #211 closed

[2015-03-24 15:13] tleyden commented on #211
I'll report back when I try the value conditional check.

[2015-03-24 15:18] bacongobbler commented on #219
@larsks that expression actually doesn't work; tried it myself today. However, with the proposed function it would look like `{{ getord "/example/key" "default" }}`.

[2015-03-24 15:53] cgswong commented on #215
The etcd documents use `-d value="<value>"` or `-d value=<value>` and this does load the data correctly. See https://github.com/coreos/etcd/blob/master/Documentation/api.md

Maybe this is an etcd issue instead since it is more typical to use `-d <value>`?

[2015-03-24 15:58] bacongobbler commented on #215
Yes, this seems more like a doc issue on their end. Everything here looks fine on confd's end.

I'm going to go ahead and close this. Please feel free to post another bug if you see something in the documentation that is incorrect. We'll take a look and update it accordingly. Thanks!

[2015-03-24 15:58] #215 closed

[2015-03-24 16:01] #185 closed

[2015-03-24 16:04] bacongobbler commented on #188
I'm not quite sure I understand. You want confd to use a template to write out a template? You could run two separate confd processes, each with their own confdir but I'm not sure how well that will go.

[2015-03-24 16:08] bacongobbler commented on #180
closing for now as there hasn't been any activity for quite some time, but please feel free to re-open if you get back with a reproducible test case or something which we can follow up with. Thanks!

[2015-03-24 16:08] #180 closed

[2015-03-24 17:13] bacongobbler opened #236 "--config-file is not respected"
This used to work in confd v0.4, but no longer in 0.8. Given the following config file:

[code]

When I try to run confd with `--config-file ./integration/confd.toml`:

[code]

I was able to rectify this by using `--confdir ./integration/confdir --interval 5 --quiet` but it seems like configuration from `--config-file` isn't getting loaded anymore, yet it's still documented:

[code]

I'm running o

[2015-03-25 00:57] cgswong commented on #215
@bacongobbler It's not an Etcd documentation issue, it's an Etcd API issue (or more accurately both). I've tested with a few Etcd versions (0.4.6/7, 2.0.5) and not putting `-d value=<value>` results in an empty value. But yes, this seems like something to log with the Etcd guys.

[2015-03-25 07:56] nebelpfade opened #237 "How to get json key name?"
Hello,

Could you please explain how to get json key name?
For example I try to parse the following json:
{"innodb_buffer_pool_size":"128M"}

then I want to get from it:
innodb_buffer_pool_size = 128M

there is not a problem to get json .Value, but how to get json .Key ?

[2015-03-25 14:49] alexnauda commented on #217
https://github.com/kelseyhightower/confd/pull/238

[2015-03-26 12:49] Telmo commented on #216
I actually have the same issue, and I have not been able to find a solution. Anyone has an insight on how to handle the errors? I've tried searching everywhere but all I got was "handle the errors before you render the template" which in the case of confd is not an option.

[2015-03-26 14:55] bacongobbler commented on #216
I'm leaning towards the idea that we should change the behaviour of `gets` and `getvs` to return an empty list if no keys were found. This is a pretty big issue, IMO.

[2015-03-26 16:55] mpchlets commented on #216
As a work around for now, I am setting a "placeholder" key at startup of my service for all directories that I expect to have a key and then I ignore them in my template, it is alright, a bit dirty but works, here is the interesting part in my haproxy.cfg.tmpl:

      {{range $server := gets "/services/app/80/*"}}
        {{$data := json $server.Value}}
        {{ if ne $data.IP "placeholder"}}

[2015-03-30 13:26] zytek opened #240 "version.go says 0.7.1 but release 0.8.0 available via GitHub"
Seems like version.go was not updated.

[2015-03-30 13:35] zytek opened #241 "Lack of CHANGELOG file."
Lack of CHANGELOG file in the repo makes it harder to quickly scoop for new features and fixed bugs.
"Releases" menu in GitHub is not verbose enough - for example I do not understand impact of changing go-etcd version.

[2015-03-30 13:36] zytek opened #242 "watch=true in config file is not respected, but works when added as a command argument"

[2015-03-30 13:39] zytek commented on #242
[code]

[2015-03-30 15:14] bacongobbler commented on #242
see #236

[2015-03-30 15:15] #242 closed

[2015-03-30 18:20] zytek commented on #242
@bacongobbler is this really the case?

config file IS loaded as you can see by confd printing debug messages - becase of debug=true in conf file. If I move it away than there is no debug messages.

I am using 0.7.1

[2015-03-30 20:49] scalp42 commented on #208
I confirm just spent at least 5 hours on this:

In /etc/confd/confd.toml
[code]

Doesn't work.

[2015-04-01 12:11] zytek opened #247 "confd doesn't try to reconnect to etcd cluster"
Bug: confd doesn't try to reconnect to etcd cluster.

[code]

Steps to reproduce.

1. Set up *broken* etcd cluster (in my example I had three etcd nodes that failed to connect to each other due to firewall rules)
2. Start confd with watch=true, reading data from this broken etcd node.
3. confd starts to report error 501 (as seen abobe)
4. Fix etcd cluster (in my case: remove firewall rule that pre

[2015-04-01 13:37] worgock commented on #237
I'm not sure but this works for me:

{{ base .Key }} = {{ .Value }}

[2015-04-01 16:00] bacongobbler commented on #237
yep, that should be the correct way to retrieve the keys from a json structure as per the arguments section in `text/template`:

  by a period, such as
	.Key
  The result is the map element value indexed by the key.

[2015-04-01 16:00] #237 closed

[2015-04-02 22:12] bacongobbler commented on #32
Re-opening for a feature request to consolidate these flags into `--log-level`. At the moment we can show NOTICE errors with `--verbose` or show both NOTICE and DEBUG messages with `--debug`, but sometimes we want to suppress WARNING messages, or show just INFO messages. It'd probably be easier to set a log level and only display logs above and equal to the corresponding log level.

In terms of co

[2015-04-03 14:49] bacongobbler opened #250 "add etcd 2.0 support"
See conversation in #195

[2015-04-05 15:27] HD-DBC opened #251 "I try to use confd in docker, but it says: ERROR 501: All the given peers are not reachable"
I try to use confd in docker, but it says: ERROR 501: All the given peers are not reachable

the related environment:
docker: server version 1.5
confd: version 0.8.0, container's address 172.17.0.3
etcd: version 2.0.5, container's address 172.17.0.1

run command in 172.17.0.3:
                      curl http://172.17.0.1:2379/version
returns:
                      {"releaseVersion":"2.0.5","intern

[2015-04-05 17:59] bacongobbler commented on #251
Confd is incompatible with etcd 2.0 at this time. Closing as a dupe of #195, which is being tracked in #250. Thanks!

[2015-04-05 17:59] #251 closed

[2015-04-06 01:00] bacongobbler commented on #242
Yes. I closed this because it's a duplicate of #208.

[2015-04-07 02:23] nebelpfade commented on #237
Thanks for your answers.
Unfortunately it wasn't help to me. If I try to parse json in the following way:
{{ range json ( getv "/some_key" ) }}
{{ .Key }} = {{ .Value }}
{{ end }}
I have got errors:
golang can't evaluate field Key in type interface {}
and
golang can't evaluate field Value in type interface {}

So for .Value it can be solved with {{ . }} except {{ .Value }}.

Anyway I have found a

[2015-04-07 06:21] zytek commented on #250
FYI I use confd 0.7.1 with etcd 2.0. What issues do you have?

[2015-04-07 06:32] zytek commented on #247
This should be easily fixable by providing custom CheckRetry function in go-etcd client struct.

[2015-04-07 10:49] worgock commented on #237
have you tried to write "base" keyword before ".Key"?

{{ range json ( getv "/some_key" ) }}
{{ base .Key }} = {{ .Value }}
{{ end }}

Your solution is the same thing with the difference that you declare explicit variable name for Key and Value.

[2015-04-07 13:26] zytek commented on #32
ERROR should be on the top of hierarchy.

[2015-04-07 14:41] bacongobbler commented on #32
Okay, I modified it to follow logrus's log level hierarchy which is implemented in #249.

[2015-04-08 07:25] mariusgrigaitis opened #252 "additional string manipulation functions for template"
Currently confd provides only small subset of functions listed here: https://github.com/kelseyhightower/confd/blob/master/resource/template/template_funcs.go#L11

What I would like to have is more functions related to string manipulation. Currently I'm missing replace, toUpper.

consul-template provides such functions:
https://github.com/hashicorp/consul-template#regexreplaceall

So I think it wou

[2015-04-09 16:26] mingfang commented on #152
I still having this problem using etcd 2.0.9 and confd 0.8.0.
Why is this issue close?

[2015-04-09 17:46] bacongobbler commented on #152
@dieu could you please display logs for both confd and etcd, as well as how you invoked confd?

[2015-04-09 17:49] #32 closed

[2015-04-09 17:51] #240 closed

[2015-04-09 17:58] #208 closed

[2015-04-09 19:03] kelseyhightower commented on #216
@bacongobbler We can make this change, but this issue will be then how to handle empty keys?

[2015-04-09 19:07] mpchlets commented on #216
@kelseyhightower - I would lean towards returning the empty keys.

[2015-04-09 19:13] kelseyhightower commented on #247
@zytek Would you like to submit a PR for this?

[2015-04-09 19:15] kelseyhightower commented on #233
Done.

[2015-04-09 19:15] #233 closed

[2015-04-09 19:17] kelseyhightower commented on #219
@bacongobbler @larsks I wish go template function took optional params. Some people want thing to error if the key does not exist, some one a default value, some want a default empty value.

I guess we could solve this with more template functions, or figure out new functions that take options.

[2015-04-09 19:19] kelseyhightower commented on #188
OnSnail It seems you want to store the template in etcd and have confd process it from there?

[2015-04-09 19:19] lorenz opened #256 "Create multiple config files from templates"
I want to run tinc with confd, tinc requires you to have a configuration file for every host. These can all be built from the same config. I'd like to have the host list and the host-specific configuration stored in etcd and afterwards turned into files by confd. Any chance that this is getting added?

[2015-04-09 19:22] bacongobbler commented on #219
Alternatively, a function which returns an empty string instead of an error would allow us to take advantage of the builtin `or` func. For example, `{{ or (funcName "/example/app/option") "default_value"}}` would default to "default_value" if the key did not exist and returned an empty string.

That should minimize it down to 2 different functions while covering both use cases: one to return an em

[2015-04-09 19:27] kelseyhightower commented on #256
@lorenz What would that look like? What data would each template receive?

[2015-04-09 19:28] kelseyhightower commented on #252
@mariusgrigaitis Can this be closed now that #253 has been merged?

[2015-04-09 19:31] kelseyhightower commented on #241
@zytek I just added a change log to the project. While I don't plan to go back in time, I'm going to start logging things going forward. Thanks for the suggestion.

[2015-04-09 19:31] #241 closed

[2015-04-09 19:35] kelseyhightower commented on #236
@bacongobbler Did you submit a PR for this?

[2015-04-09 19:36] bacongobbler commented on #236
no, I haven't submitted a PR for this one yet. sorry!

[2015-04-09 19:36] kelseyhightower commented on #250
@bacongobbler Is  this still broken on master?

[2015-04-09 20:00] lorenz commented on #256
@kelseyhightower Basically there would be a go template which is the same for every file. The data would be equal (structure-wise, not data-wise) but grouped up in directories, one for every file. Does that make sense?

[2015-04-09 20:04] #250 closed

[2015-04-10 03:55] bacongobbler commented on #199
ping @AlessandroEmm

[2015-04-10 03:56] bacongobbler commented on #205
closed via #254

[2015-04-10 03:56] #205 closed

[2015-04-10 11:26] zytek commented on #250
@kelseyhightower so, just to get things clear, does it mean it is safe to use confd from master with etcd 2.x ?

[2015-04-10 12:54] AlessandroEmm commented on #199
@bacongobbler
This only works if you know about the deepness of your hierarchy. I was looking for a solution that gathers all the leaves of a certain node.

[2015-04-10 15:18] bacongobbler commented on #250
yes, the integration tests seem to prove that.

[2015-04-10 16:29] zytek commented on #247
@kelseyhightower I'll try after the weekend

[2015-04-12 22:26] zytek commented on #247
Well, while testing my patch I've found out that newest confd handles etcd failures properly, at least simple case of starting/stopping etcd localhost node (handling of "connection refused" errors) seems to work just fine. There is already a 2 second wait+retry code here:

https://github.com/kelseyhightower/confd/blob/master/resource/template/processor.go#L94-L99

I now think that my original test

[2015-04-12 22:26] #247 closed

[2015-04-12 22:33] zytek commented on #247
Och, one more thing - it still *might* be valuable to provide custom CheckRetry function to go-etcd client, as this increases logs verbosity. Example here:

https://github.com/zytek/confd/commit/860b2701d29d9f2cc6c59166399cb42bdfe1402a

[2015-04-14 07:17] mariusgrigaitis commented on #252
I think partially closed. Replace would also be good to have I think. Maybe we should close (rename) this and create new one?

[2015-04-14 12:36] bacongobbler commented on #252
yes, let's close and add bugs for specific string manipulation functions so we can track their progress individually (some may make sense and some may not).

[2015-04-15 14:39] rimusz opened #267 "Thank you"
Thanks for the nice project

[2015-04-15 15:27] carmstrong opened #268 "Error for missing keys should not be truncated"
Currently, errors for missing keys are truncated, and don't show the full key which caused an issue, just part of its path:
[code]

[2015-04-15 15:37] bacongobbler commented on #268
+1

[2015-04-15 16:41] battlecow opened #269 "Templating datetime unix format"
Is there a way of either formatting the current date in unix/epoch format or could this be added as an alias as datetime has been?

I have confd watching for a bind config and need to be able to update the serial number sequentially and thought that a datetime format in unix would work best.

[2015-04-15 19:43] bacongobbler commented on #267
I'd like to personally thank @kelseyhightower for all the hard work he's put into this project. Deis wouldn't be where it is today without confd, so fot that you have my thanks as well. :heart:

[2015-04-15 19:46] rimusz commented on #267
:+1:

[2015-04-16 12:23] mboersma commented on #267
:heavy_plus_sign: **100** to that.

[2015-04-16 12:24] mboersma commented on #268
Would love to see this changed, it would make troubleshooting so much easier.

[2015-04-17 19:12] bacongobbler opened #270 "add strings.Contains support"
related: #252

We want to check if a certain domain is a subdomain of another route in our nginx template so we can apply similar properties to the specific route.

[2015-04-17 19:12] #252 closed

[2015-04-20 04:49] seanmcgary opened #273 ""if exists" doesn't work for directories in etcd"
Im running confd to monitor etcd for changes to update my HAProxy config, and I noticed that when I try using ```{{if exists /some/dir}}}``` it seems to fail even though the directory exists.

Here's a fuller example:

__values in etcd__

[code]

__/etc/confd/conf.d/haproxy.toml__

[code]

__/etcd/confd/templates/haproxy.cfg.toml__

[code]

So what Im wondering is, _should_ ```if exists``` work on

[2015-04-21 01:08] mingfang commented on #251
This is still a problem with the latest version.

[code]
[code]

I started etcd like this
[code]

I started confd like this

[code]

This happens only when etcd and confd are started about the same time.
If I then restart confd then everything works.

[2015-04-21 01:35] bacongobbler commented on #251
@mingfang interesting. If you can reproduce it using the [integration tests](https://github.com/kelseyhightower/confd/blob/master/.travis.yml#L18-L19) which test confd against v2.0.9, that would be appreciated.

[2015-04-21 04:10] mingfang commented on #251
The problem appears to only occur when both etcd and confd are started at the same time.
Unfortunately it looks like the existing integration tests starts etcd before running the tests.

[2015-04-21 04:13] bacongobbler commented on #251
in that case, it's probably due to etcd having some time to boot up before it starts accepting connections. Either that, or the go-etcd client does not have a [connection timeout](https://godoc.org/github.com/coreos/go-etcd/etcd#Client.SetDialTimeout) set up by default. Can you confirm that setting a DialTimeout on the etcd backend fixes this issue?

[2015-04-21 04:18] mingfang commented on #251
I would love to try.
How do I set the dial timeout?

[2015-04-21 13:28] nixn opened #275 "after erroneous check (by check_cmd) the result file is not updated for next check"
I'm not completely sure about this, but it seems like when confd updates a file (result file) and runs `check_cmd`, which fails, then it won't replace it any more with neither the old version nor a new version (e.g. corrected template or corrected value). This leads to endless failing checks afterwards (once each interval). One must replace the result file with a "clean" (non-failing) version, the

[2015-04-21 14:53] bacongobbler commented on #275
Yes. `check_cmd` is called before the template is written out to its destination.

[2015-04-21 15:43] nixn commented on #275
Seems wrong to me, IMHO the check should check the new version, not the old.

[2015-04-21 19:23] battlecow commented on #221
+1

[2015-04-21 19:42] bacongobbler commented on #221
Well, considering that `{{ datetime }}` just outputs time.Now(), I'm wondering if there's a way we can somehow hook into the time that we first start `confd` and pipe that to `datetime` instead. Woudl that work for you?

[2015-04-22 11:28] OskarKjellin opened #276 "Support for pluggable "service" name in the SRV records"
If you follow this guide and set up SRV records for etcd:
https://github.com/coreos/etcd/blob/master/Documentation/clustering.md
They end up under _etcd-server._tcp.example.com.
But confd looks for it under _etcd._tcp.example.com. So confd and etcd does not really play well here. Would be nice with a way to configure what service to lookup the SRV record for.

[2015-04-24 15:31] schlitzered opened #277 "Building confd on centos 7"
Hey, i would like to package confd for centos 7, and later for fedora.

But i am not even able to build confd without the packaging stuff. running ./build gives this error:

[rpmbuild@localhost confd-0.9.0]$ ./build
Building confd...
can't load package: package github.com/kelseyhightower/confd: cannot find package "github.com/kelseyhightower/confd" in any of:
        /usr/lib/golang/src/pkg/github

[2015-04-24 15:41] bacongobbler commented on #277
You have to clone confd at $GOPATH/src/github.com/kelseyhightower/confd.

[2015-04-24 21:46] maccman commented on #273
:+1: for dir support

[2015-04-24 22:05] feniix opened #278 "Make exists templating syntax work with environment backend"
Hi,

would it be too hard to make the following thing work?

[code]

I tried it and could not make it work and it could come very handy when not using consul and other backends.

Regards

[2015-04-24 22:07] bacongobbler commented on #278
`{{ if getenv "variable" }}` should do the same thing. `exists` determines if a key exists in the existing backend.

[2015-04-24 22:12] bacongobbler commented on #273
IIRC the main reason why this won't work on all backends is because some do not have some form of discovering if a directory exists or not. We need a way to walk the tree like we did with 0.5.0 and earlier.

[2015-04-24 22:32] feniix commented on #278
ah ok I did not see that in the docs :)

[2015-04-24 22:48] #278 closed

[2015-04-24 22:51] bacongobbler commented on #278
From `text/template`'s if:

`getenv` is a call to `os.Getenv`, which returns an empty string if the envvar is not present, which is why this behaviour works that way.

[2015-04-25 10:41] schlitzered commented on #277
thank you, it is compiling now, but why is it that i have to put it in this path? why cant i  just extract the source release tgz and compile?

[2015-04-25 14:15] kelseyhightower commented on #277
@schlitzered It's a golang thing when using the default build tools. Many people set a custom GOPATH in their build scripts, but this is something I have avoided.

[2015-04-25 14:16] kelseyhightower commented on #277
I'm closing this issue since this is a common build pattern in the Golang community. I'm happy to accept PRs against the docs to make it more clear how to build confd.

[2015-04-25 14:16] #277 closed

[2015-04-25 14:17] kelseyhightower commented on #276
@OskarKjellin +1 I wonder if we just add another flag for this?

[2015-04-25 14:19] kelseyhightower commented on #275
@nixn Normally the check command is used like this:

[code]

`{{.src}}` refers to the proposed file, which allows us to be sure the generated config is validated before over writing the target.

[2015-04-25 14:20] #270 closed

[2015-04-25 14:21] kelseyhightower commented on #269
@battlecow I'm happy to add another alias here. How would you like to see this work?

[2015-04-25 14:21] kelseyhightower commented on #267
Thanks everyone!!!!

[2015-04-25 14:21] #267 closed

[2015-04-25 14:22] kelseyhightower commented on #268
@carmstrong +1

[2015-04-25 14:22] kelseyhightower commented on #268
@carmstrong Any plans to hack on this one?

[2015-04-25 15:52] battlecow commented on #269
@kelseyhightower
I am just using the output of date +%s from terminal to always ensure a higher integer value for Bind zone serial number.  I don't have a particular opinion on its implementation, as I have not used Go I assume that the constant of UnixDate in the time package would suffice?

[2015-04-25 16:48] carmstrong commented on #268
@kelseyhightower Not sure where in the code to look - seems like this is a go template thing?

[2015-04-27 07:40] nixn commented on #275
Thanks for the hint, will check this. Perhaps it should be noted more clearly in the documentation? I missed it.

[2015-04-29 10:43] justincormack commented on #33
This link does not go anywhere useful any more, and I cannot find the docs - any pointers?

[2015-04-29 21:37] karthikus opened #282 "Confd - out of sync - UID should be 0 and GID should be 0"
I was using confd for all of my services and it was working perfectly fine. But when i templated a new service with 2 toml and 2 tmpl files, I got the following error due to which the file stays out of sync always:

[code]

The toml corresponding to this error is as follows:

[code]
P.S: Since it complained uid and gid as non-zero, I tried setting them manually but still I got the same error. Any

[2015-04-29 22:46] karthikus commented on #282
I guess the problem was with the destination file already present. When i removed the file, I got the following log that does not indicate any error but clearly confd is not monitoring etcd for changes:

[code]

[2015-04-30 02:15] duffqiu commented on #73
Can I use environment together with etcd something like fleet? because I wan to set etcd keys dynamically.

for example

[template]
src = "haproxy.cfg.tmpl"
dest = "/etc/haproxy/haproxy.cfg"
keys = [
        "/${haproxy1}/apps/www/app1"
]
reload_cmd = "echo haproxy soft restarting"

[2015-04-30 15:18] bacongobbler commented on #73
AFAIK you can't use environment variables in the toml files.

[2015-04-30 15:54] duffqiu commented on #73
Can add this as a new feature?

[2015-04-30 16:29] bacongobbler commented on #73
Sure :)

[2015-05-01 00:02] packetcollision commented on #221
More helpful, although probably more complicated to pull off, would be to update the time whenever there are _other_ changes.

[2015-05-01 09:12] duffqiu commented on #73
I am not a developer for go. But I try another workaround solution for that. First, I write a bash to support environment to generate the template in the folder of confd. and the confd can generate the configuration file for the applications such as haproxy. you can have a look at [confd-init](https://github.com/duffqiu/confd-init) if you are interesting in it.

[2015-05-04 16:35] wgerlach opened #283 "watch in 0.9.0 does not seem to work"
The option -watch for etcd in 0.9.0 does not seems to work anymore, in 0.8.0 it is working for me. When I use 0.9.0 with -watch confd simply exits without an error message:
[code]

Disabling watch works, but then of course it uses interval polling.

[2015-05-04 17:03] wgerlach commented on #283
sry, seems the issue is somewhere else, probably something wrong with my config...

[2015-05-04 17:03] #283 closed

[2015-05-05 08:46] duffqiu commented on #273
:+1:  for dir support because sometimes we only list some config parameter when the config section exist

[2015-05-05 09:13] duffqiu opened #284 "confd crash if the template error"
Hi,

When I have a char '$' in the template, then the confd crash.
the version is 0.9.0

here is the log

[code]

[2015-05-08 13:46] mariusgrigaitis opened #285 "confd fails to find etcd using SRV records if there are more than 3 SRV records"
[code]

[code]

Notice the ```;; Truncated, retrying in TCP mode.``` in dig output.

As we debugged it, the error comes from golang net package.

https://golang.org/src/net/dnsclient_unix.go (line 49)

[2015-05-08 17:56] kelseyhightower commented on #284
@duffqiu Yeah, that is not so awesome. I think we need to revisit how we handle errors regarding golang templates

[2015-05-08 17:57] kelseyhightower commented on #282
@karthikus What version of confd are you running? Also what command are you using to start confd?

[2015-05-09 07:59] jon-shanks opened #286 "toml syntax error doesnt result in error"
If there is an error within the toml it doesn't generate an error, there is no TOML parsing and error generation.

[template]
mode = "0644"
src = "my.cnf.tmpl"
dest = "/etc/mysql/my.cnf"
prefix = "/common/services/percona"
keys = [
  "hosts",
  "config",
]
check_cmd = "/usr/sbin/mysqld --help >/dev/null 2>&1"
reload_cmd = "/etc/init.d/mysql reload

the missing " on the reload_cmd doesn't generate

[2015-05-09 15:35] nixn commented on #275
Now, while that works as you described, I still have a problem. I use the `sites-{available,enabled}` pattern for nginx, so the main configuration file (`nginx.conf`) includes `sites-enabled/*` which in turn has symlinks to `sites-available/...`. One of these files in `sites-available` is the dynamically updated configuration (`sites-available/http-proxy` with the according symlink in `sites-enabl

[2015-05-10 06:57] duffqiu opened #287 "Improvements:provide temple for common service like haproxy,"
Suggest to provide default template and initial data for some common service like haproxy

[2015-05-11 22:17] carmstrong opened #288 "confd leaves behind temporary files after templating"
In at least come cases, confd fails to clean up the temporary files it uses when templating. See https://github.com/deis/deis/issues/3570 for details.

[2015-05-12 08:02] TelanJ opened #289 "(Question) Unexpected EOF"
Good day to Everyone,

I am a Junior Developer and I am trying to use confd to create a configuration file for ceph so that it will perform dynamic configuration.

I am having trouble on implementing my confd. It displays `Unexpected EOF`

This is what I've done so far,

Template - https://github.com/TelanJ/consul-kv-ceph/blob/master/templates/ceph.conf.tmpl
Toml - https://github.com/TelanJ/consul

[2015-05-12 12:56] mborho commented on #256
+ 1

The possibility to generate config files programmatically would be very handy.

[2015-05-12 20:11] kelseyhightower commented on #288
@carmstrong This must be new. Need to track this one down.

[2015-05-12 20:16] bacongobbler commented on #288
I think it's because we just close the file instead of closing + removing the temp, unless I'm mistaken :)

relevant: https://github.com/kelseyhightower/confd/blob/fed32feac4a18decf670ba30e3f7b77fae2af33f/resource/template/resource.go#L117

[2015-05-12 20:19] bacongobbler commented on #288
Oh, that's because we have a `--keep-stage-file` flag now, so I guess it's choking before we call `sync()`: https://github.com/kelseyhightower/confd/blob/fed32feac4a18decf670ba30e3f7b77fae2af33f/resource/template/resource.go#L138-L142

[2015-05-12 20:54] hookenz commented on #197
@thomascramer - I agree, go templates are pretty limited.  I prefer mustache myself.

[2015-05-13 03:20] hookenz opened #290 "No else in if"
When templating for nginx, it doesn't seem to like having a empty backend defined.

Therefore if I use an {{if expression }} to include an optional block there is no possibility of an {{else}}

Here's a more complete example.

    upstream web {
      least_conn;
      {{if ls "/services/web"}}
      {{range getvs "/services/web/*"}}server {{.}} max_fails=3 fail_timeout=60 weight=1;{{end}}
      {

[2015-05-14 08:58] miekg commented on #285
Truncated?! With only 3 SRV records in the message? What's the initial size used to get the answer, 512 B? And yes, it's the clients responsibility to retry with TCP when the TC bit is set on a message.

[2015-05-14 09:48] miekg commented on #285
Although I'm not sure if the DNS stub (i.e. libc) on the local machine actually does this... and SkyDNS should try harder to make the answer fit...

[2015-05-14 11:10] hookenz commented on #290
Ok.  It turns out its there but not documented. Note that i understand these are go templates.

[2015-05-14 11:10] #290 closed

[2015-05-14 13:33] oba11 opened #292 "how to handle template dependencies"
I have two templates with one depending on the other one before the actual service runs.
Currently, I get an error that the file is missing.
Is there any way I can handle this dependency?

Thanks.

[2015-05-23 02:54] akaspin commented on #275
`{{.src}}` not works in case of configs with templates. Result - dead loop.

[2015-05-23 03:10] bacongobbler commented on #275
@akaspin that's the intent. However, its more like "write dest template to temp file. run `check_cmd`. if it success: move temp to dest; else `log.Error`". I'm not quite sure I understand your issue. If you can post a reproducible test case as a separate issue then I could take a look at it.

[2015-05-24 22:53] kelseyhightower commented on #292
@oba11 Currently confd does not support dependencies between templates, I'm not sure if this kind of feature is in scope for confd.

Can you tell me more about what you are trying to accomplish?

[2015-05-24 22:54] kelseyhightower commented on #289
@TelanJ I can try to reproduce this if you provide the output of confd with the debug flag.

[2015-05-24 22:57] kelseyhightower commented on #287
@duffqiu Feel free to submit a PR to the docs or an examples folder and I'll be happy to review it and add it to the repo.

[2015-05-24 22:57] #287 closed

[2015-05-24 23:39] #284 closed

[2015-05-24 23:41] kelseyhightower commented on #286
@jon-shanks I'm taking a look at this now.

[2015-05-25 01:28] duffqiu commented on #287
i am working on it. when I finish the first version, I will do so.

[2015-05-25 01:28] #286 closed

[2015-05-25 01:31] kelseyhightower commented on #269
@battlecow Adding a new unixtimestamp function.

[2015-05-25 04:07] kelseyhightower commented on #188
Closing for now as this type of feature is out of scope for confd.

[2015-05-25 04:07] #188 closed

[2015-05-25 04:11] kelseyhightower commented on #182
I've just pushed a couple of commits that should improve the error handling in confd to output errors and exit non-zero in all error cases.

[2015-05-25 04:11] #182 closed

[2015-05-25 04:14] kelseyhightower commented on #212
@paulczar The solution for this case is the build a tool out of band that handles the retry logic and not return until complete. I've considered in the past to enhance the reload_cmd, but I've chosen to keep it simple to force a clear pattern of usage.

[2015-05-25 04:14] #212 closed

[2015-05-25 04:17] kelseyhightower commented on #256
@mborho Can you give me an idea of what an example resource template and template file would look like?

[2015-05-25 04:32] kelseyhightower commented on #236
@bacongobbler Remove the `[confd]` prefix from the config file

[2015-05-25 04:32] #236 closed

[2015-05-25 04:35] kelseyhightower commented on #217
Fixed in https://github.com/kelseyhightower/confd/pull/238

[2015-05-25 04:35] #217 closed

[2015-05-25 05:18] #288 closed

[2015-05-25 07:51] oba11 commented on #292
thanks @kelseyhightower for the response.
Basically, I have 2 nginx templates (`/etc/nginx/sites-enabled/default.conf` and `/etc/nginx/conf.d/custom-location.conf`) where one includes the other one.

/etc/nginx/sites-enabled/default.conf
[code]

`default.conf` gets generated by confd before `custom-location.conf` where nginx throws an error that `custom-location.conf` is not found.

[2015-05-26 01:04] kelseyhightower commented on #216
I've made changes on the master branch which makes `gets` and `getvs` return empty list if the key is missing. @bacongobbler @mpchlets

[2015-05-26 10:20] kaililleby commented on #216
Nice! when will a new release be available, @kelseyhightower ?

[2015-05-26 14:24] superpan opened #296 "docs folder is gone"
Looks like all of the documentation are gone.  Can you replace the docs directory?

[2015-05-26 16:17] bacongobbler commented on #296
looks like it was moved (accidentally on purpose) to https://github.com/kelseyhightower/confd/tree/master/src/github.com/kelseyhightower/confd/docs. It still exists but I guess was moved directly into the source. If you can PR the change to move docs/ back to the root, I'd be happy to review/merge :)

[2015-05-26 17:18] bacongobbler commented on #296
fixed in #295

[2015-05-26 17:18] #296 closed

[2015-05-27 14:16] m1no commented on #146
This feature would help a lot to secure consul setups with confd +1

[2015-05-28 11:35] mborho commented on #256
@kelseyhightower Good question :)
Let me start with the use case first. Having some keys in the following way:
[code]
Which should result  in multiple files after processing:
[code]
Currently I'm using an intermediate file, which gets cut by some awk magic added to the *restart_cmd*.

But perhaps a custom tag is possible in the templates, something like this:
[code]
And in the template resource so

[2015-05-29 13:18] nogece opened #299 "confd crashes with zookeeper"
following shell interaction gives all details :
[code]

[2015-06-10 15:38] colebrumley opened #301 "Passthrough service logs?"
**New feature idea:**
Add a flag that allows "passthrough" logs to be displayed in Confd's log .  This would be useful for containers in which confd is PID 1, because the normal stdout log would then show logs from both Confd and the app(s) confd is controlling.  This would make debugging/troubleshooting and log management much easier in many development use cases.

I am willing to code it, but wa

[2015-06-10 16:35] bacongobbler commented on #301
I'm not too sure about this. Seems very specific to your use case. Can't you simply pipe your child processes' logs to /dev/stdout?

[2015-06-11 08:19] nogece commented on #299
Maybe I should have "filled the severity field": this is an issue that renders confd for zookeeper  useless. It (the tutorial example) just doesnt work at all for me .

[2015-06-11 15:41] bacongobbler commented on #299
ping @sheepkiller

[2015-06-11 18:10] sheepkiller commented on #299
Hi @nogece,

Which version of zookeeper are you running ?

thanks

[2015-06-11 19:10] sheepkiller commented on #299
There's no default node for zookeeper backend. Can you please re-test with "-node=localhost:2181" ?

thanks
clem

[2015-06-16 13:32] schlitzered opened #304 "Iterate over dynamic path in template"
Hey,

i would like to use etcd + confd to dynamically build configurations.

my data structure in etcd looks like this, if converted to json:

[code]
And the commands i used to populate the data to etcd:
[code]

I would like to use "activeVersion" to deploy multiple version of one application at the same time. All applications will register themself with there version number as prefix in "endpoint

[2015-06-16 14:36] bacongobbler commented on #304
Try `{{range gets (printf "/endpoints/RSysLogReceiver/%s/*" (getv "/activeVersion/RSysLogReceiver"))}}`. The idea is that the string passed to `gets` is a literal value, so any dynamic argument parsing needs to be done and returned as a string.

[2015-06-16 14:43] schlitzered commented on #304
works, thank you!

[2015-06-16 14:43] #304 closed

[2015-06-23 11:24] ivarmedi opened #305 "strings.replace function"
Found this issue when building varnish configs that doesn't allow `-` in (as an example) the backend names.

strings.Replace solves this:
[code]

[2015-06-24 08:57] #305 closed

[2015-06-30 07:27] alirizakeles commented on #273
+1

directory support is really important when we do not know about keys under dirs.

[2015-07-02 01:19] diegomarangoni commented on #183
+1

[2015-07-02 02:00] diegomarangoni opened #308 "Add support to update existing file instead of create-new and rename"
I'm running confd on the host machine and mounting the generated file as a volume in a docker container.
Once the container is running, the confd generated file is referenced thourgh the INODE at the disk.

The point is, when confd on the host machine recreates the file (removes the old one and replaces with a fresh file) I still have the old INODE referenced inside the container, resulting in a `

[2015-07-06 09:36] mborho commented on #276
+1

Same problem here, can't use **-srv-domain** with etcd on CoreOS. Additional flag would be cool!

[2015-07-06 20:27] tomdee opened #309 "Confd has issues with using hostnames with -node option"
I'd raised this before on IRC and there was a suggestion that the cause could be a compilation issue.

I have now tried building from the latest master and reproed the problem.

Using an IP works, using a hostname fails.

[code]

[2015-07-06 22:30] bacongobbler commented on #309
I'd probably check at coreos/go-etcd since the -node flag is [sent](https://github.com/kelseyhightower/confd/blob/35a065d3ed8c701e2d2cd5142cf2e1cb6c6a278e/src/github.com/kelseyhightower/confd/backends/client.go#L38) [there](https://github.com/kelseyhightower/confd/blob/35a065d3ed8c701e2d2cd5142cf2e1cb6c6a278e/src/github.com/kelseyhightower/confd/backends/etcd/client.go#L27).

[2015-07-10 00:35] diegomarangoni opened #310 "Add support for dynamic keys"
This was mentioned before by @duffqiu in [this issue](https://github.com/kelseyhightower/confd/issues/73).

Would be nice to prioritize the services running in the same machine as my nginx with different weight.
But, for that works, I need to watch a key in a dynamic path that contains a dynamic token, like the machine id.

[code]

And at the template, loop the both keys, but excluding elements of

[2015-07-15 21:39] joshk0 commented on #292
I have this problem too. We use confd to propagate a haproxy configuration as well as a SSL certificate. The haproxy configuration references the SSL certificate. If the SSL certificate comes first, it all works great. If the haproxy.cfg comes first, the config check fails because the SSL certificate is not yet present.

I think you wouldn't really need to do anything except ensure that templates

[2015-07-15 22:11] bacongobbler commented on #292
@joshk0 maybe the resolution is to run two separate `confd` processes: one for each stage in the deployment cycle. I don't know if adding a lexical ordering to `confd` could be reasonably supported, but PRs proposing a solution would be appreciated :)

[2015-07-17 12:57] sharky101 commented on #310
+1 for dynamic keys. In the template I can reference dynamic keys based on environment variables:
[code]

But I'm unable to use environment variables to define the keys to be watched:

[code]
Reiterating @diegomarangoni supporting dynamic keys in the template file would be very useful.

[2015-07-22 17:50] Sotorin opened #313 "How do you install?"
I'm using CoreOS cluster and wanted to play with confd but how do install these binaries after the download? It just sits in my home dir. I installed GO (works fine) and wanted to compile from source but that's not working either. $HOME/confd is where I downloaded git repo to. I'm trying to follow the directions but I keep getting errors.

[code]

[2015-07-22 17:54] bacongobbler commented on #313
confd uses https://github.com/constabulary/gb. It would be best to take a look at the [integration tests](https://github.com/kelseyhightower/confd/blob/master/.travis.yml) next time, but the process to install is to use

[code]

[2015-07-22 17:54] #313 closed

[2015-07-22 18:47] Sotorin commented on #313
Thank you for such quick response but this doesn't work either. After setting GOPATH to $HOME/gocode and running:
[code]
now (under geocode) I have bin, pkg and src directories and when I try to run
[code]

This can't be that complicated. How can I use binaries I downloaded from the install page?

[2015-07-22 19:22] bacongobbler commented on #313
`./build` is a script provided in the [root directory of confd](https://github.com/kelseyhightower/confd/blob/master/build). If you're building from source, the idea is that you clone confd, run `cd confd`, install `gb` and then run `./build`.

If you want to use the standalone binaries (on linux):

[code]

[2015-07-22 21:15] Sotorin commented on #313
For those of you who may wish to compile from source. All of this on CoreOS.
1) Install GO - pretty straight forward. They tell you how you can test your install.
2) Set ```GOPATH```. If you don't do this then the next step will fail with "GOPATH not set".
```~$ mkdir nameOfYourDir``` [I named mine gocode] and then ```GOPATH=$HOME/gocode```
3) Install gb-tool ```~$ go get github.com/constabulary/g

[2015-07-23 19:45] brmakana commented on #209
If you solved this, could you give an example of how?

[2015-07-24 01:25] crandles commented on #115
What about executing `id $username` or `getent group` (if they exist) (`dscacheutil -q group` on osx)? Is it too much a stretch to assume they exist?

[2015-07-24 12:30] Dynom commented on #292
I currently solve this by using the poor-man solution:

    001-initial-template
    002-followup-template
    003-another-template-that-depends-on-initial-template

[2015-07-24 12:32] Dynom commented on #219
Highly desired feature, due to the limited scoping flexibility it's very hard to produce default values when dealing with single-line properties (such as some HAProxy configuration lines).

[2015-07-24 16:56] oba11 commented on #292
Thanks @Dynom would try it out soon and get back to you.
Thanks again.

[2015-07-26 14:40] joshk0 commented on #292
So wait. There is already a functional lexical ordering?

[2015-07-26 14:56] bacongobbler commented on #292
Well theoretically we could change confd's behaviour to run all templates in parallel, but it sounds like this works as a way to run templates in a lexical ordering for now. I'd recommend using template names like `0001-sometemplate` to achieve the desired effect.

[2015-07-26 14:56] #292 closed

[2015-07-27 07:46] scipetr commented on #273
+1

[2015-07-27 16:03] gtonic commented on #273
+1

[2015-07-28 19:34] Ropes opened #316 "Importing confd code can create extremely long paths thanks to the gb src path"
If attempting to import the etcd backend client code into another project, the import path becomes extremely long to the point of text wrap.
[code]
This is thanks to gb requiring the project's nested source code to include the full github path effectively twice. For traditional GOPATH projects this is just an irritation, the code still compiles fine thankfully.

However @kelseyhightower mentioned

[2015-07-28 20:05] bacongobbler commented on #316
https://github.com/kelseyhightower/confd/commit/db867090afdfb4378dfa53073c5a9dcbe9fbb584 was the commit that switched over to `gb`.

[2015-07-30 02:56] Ropes commented on #316
I'm making decent progress on the transtion back to Godeps. The `github.com/awslabs/aws-sdk-go` -> `github.com/aws/aws-sdk-go` causes some problems but I think they're solved. Haven't run integration test yet though :fearful:

[2015-07-31 02:40] Ropes commented on #316
All integration tests run and pass with exception of DynamoDB. I need to get my AWS account setup for that.

[2015-08-05 06:09] girokon commented on #309
@tomdee try with schema:
`-node http://gulfstream-build-64:4001`

I think problem in this function https://github.com/coreos/go-etcd/blob/master/etcd/client.go#L380

[2015-08-05 09:23] ilmerovingio opened #317 "Redis backend AUTH support"
Hello,
As far as I can see in https://github.com/kelseyhightower/confd/blob/master/src/github.com/kelseyhightower/confd/backends/client.go#L42L43 there's no AUTH support for the REDIS backend (ref. http://redis.io/commands/AUTH)

This can be very useful with hosted Redis instances (Amazon ElastiCache, Azure Redis Cache etc...) or when is not possible to apply firewall rules.

Is there already a pl

[2015-08-06 15:34] ikoblik commented on #317
+1, that woud be great as it currently prevents us from using confd with publicly hosted redis.

[2015-08-07 20:58] crandles opened #318 "etcd Basic Auth support"
etcd 2.1 supports authentication via HTTP Basic Auth. The go-etcd library supports this feature. I've added a PR with initial support for it in confd -- #312.

[2015-08-11 14:14] ankurs commented on #186
try {{printf "%.0f" $data.a}}

[2015-08-11 20:02] technosophos commented on #219
Could adding a `default` function accomplish this?

[code]

Where `default` is basically backed by `func Default(def interface{}, given interface{}) interface{}`. The `Default` func then evaluates `given` to see if it's "empty" (however you want to define that), and returns either `given` if non-empty, or `def` if empty.

[2015-08-11 21:12] technosophos commented on #219
Here's an example from Sprig. I'd be happy to port to Confd if others think this fits the bill:

https://github.com/Masterminds/sprig/blob/master/functions.go#L44

https://github.com/Masterminds/sprig/blob/master/functions.go#L231

[2015-08-12 20:22] devurandom commented on #318
Awesome! I was about to request that feature. :)

[2015-08-13 09:37] fasaxc opened #319 "confd bypasses local proxy, all instances connect directly to single cluster member"
I'm doing some scale testing of my application with a 5-node etcd cluster and 500+ client hosts.  I have an etcd proxy on each of my client hosts.  confd seems to initially connect to the local proxy but then, on subsequent requests, it connects directly to a node in the cluster.  Worse, all the confd instances seem to pick the same cluster node to talk to, which causes excessive load on that node

[2015-08-13 15:20] bacongobbler commented on #319
sounds like an issue with go-etcd, as that is the library we are using to connect.

[2015-08-13 18:23] xiang90 commented on #319
try not to sync the cluster when you know you are reaching out a proxy.

[2015-08-14 00:01] rgulewich commented on #209
@brmakana This worked for me:
[code]

[2015-08-14 01:33] brmakana commented on #209
@rgulewich thanks for that, appreciated. I needed to get multiple key entries (of host addresses) into a logstash/elasticsearch config section; the trick is that I need them on a single line. I was able to do what I needed with this:

[code]

This produces something like the following:

[code]

[2015-08-14 08:57] Dynom commented on #219
I don't have a particular preference for syntax, so whatever fits the convention is fine by me. The proposed `.. | default "value"` sounds excellent :+1:

[2015-08-18 03:30] hookenz opened #321 "Feature request: mustache templates"
Maybe a pipe dream, but I wish confd supported an alternative template language like mustache, it's far easier to understand.

https://github.com/hoisie/mustache

[2015-08-18 04:53] bacongobbler commented on #321
related feature request: https://github.com/kelseyhightower/confd/issues/190

[2015-08-18 10:28] Lukasa commented on #319
As @xiang90 says, I think this is strictly an issue with the way confd *uses* go-etcd. On [L31 of backends/etcd/client.go](https://github.com/kelseyhightower/confd/blob/745cf2b8a17bc0ae29a26e81bb4b954f5eeb2890/src/github.com/kelseyhightower/confd/backends/etcd/client.go#L31) confd calls `Client.SetCluster`. This, behind the scenes, syncs the cluster.

This call causes go-etcd to query the etcd clu

[2015-08-18 13:29] m1no opened #322 "invalid memory address or nil pointer dereference"
I template generation works and all the data is correct but after some seconds the daemon dies. I'm using the latest 0.10 release.

[code]

[2015-08-19 17:25] hmatinho commented on #273
+1

[2015-08-19 21:14] ceecko opened #324 "confd returns error 501"
Hi,

I run etcd 2.1.1 with confd 0.10.0 and confd returns the following error:

[code]

etcd is run with the following command:

[code]

However curl works ok:

[code]

There was this #251 issue which said confd is not compatible with etcd 2.0, but that was already fixed. Is there any compatibility issue with etcd 2.1?

[2015-08-19 21:42] bacongobbler commented on #324
the integration tests run with v2.0.9 but I don't imagine there would be any issues with v2.1.

[2015-08-19 22:18] ceecko commented on #324
Solved. The issue was in the way etcd was started.
The config `-advertise-client-urls` should have been `-advertise-client-urls https://127.0.0.1:4001` probably due to the way go-etcd finds out the URL to call.

[2015-08-19 22:18] #324 closed

[2015-08-20 09:24] Lukasa opened #326 "Tighten scope for templates in watch mode."
Currently when confd is running in watch mode it will watch an entire key prefix for changes. Each time that watch pops, confd will re-query each of the keys and then render out the template.

If the prefix happens to be quite high up the tree compared to the keys, and the keyspace is heavily populated, this can lead to confd doing a lot of work it does not need to do, because confd does not check

[2015-08-20 10:19] Lukasa commented on #326
A proposed change for the first option can be seen [here](https://github.com/kelseyhightower/confd/compare/master...projectcalico:confd-load-etcd), though I'm yet to test it really thoroughly.

[2015-08-21 09:49] moritzheiber opened #327 "Possibility of patch release?"
https://github.com/kelseyhightower/confd/pull/307 makes confd/DynamoDB viable on EC2 instances with instance roles assigned to them. Without it you're unable to actually use it. I'd love to see a patch release (i.e. 0.10.1) for this bugfix.

[2015-08-25 07:47] Lukasa commented on #319
Ok, that appears to work, but we now encounter a problem when passing an authority without a scheme (i.e. just 'host:port', such as '127.0.0.1:4001'). Previously, the call to `SetCluster` would call go-etcd's `Client.createHttpPath` method, which can add a scheme to the front. This now doesn't happen. @kelseyhightower any objections to me bringing that method into `confd` so that I can use it here

[2015-08-25 11:14] agalitsyn commented on #152
I also get this error.

Commands to start etcd container
[code]
or
[code]
or
[code]

in app container:
[code]
but in any case of etcd statup command I have:
[code]

From this topic it's not clear for me how to fix this

[2015-08-25 12:22] agalitsyn commented on #152
So, I upgrade to latest etcd 2.1.2 and run it with `docker run quay.io/coreos:latest -p 4001:4001 -advertise-client-urls http://172.17.42.1:4001 -listen-client-urls http://0.0.0.0:4001`. It solves my problem.

[2015-08-25 15:33] tboerger commented on #321
[pongo2](https://github.com/flosch/pongo2) should be an awesome alternative as well :)

[2015-08-25 17:01] bacongobbler commented on #321
For the same reasons as stated in #190 which proposed pongo2 support (<-- @tboerger), the text/template package works well enough. It's a breaking change to switch templating packages, so I'm going to close this, but please feel free to add your thoughts/opinions if there's something that text/template misses that mustache resolves which may be handy in a v1.0.

[2015-08-25 17:01] #321 closed

[2015-08-25 17:21] tboerger commented on #190
I think a template engine like pongo got a lower barrier for non-golang developers. I would love to have this instead of the simple but quite easy ugly template files. To switch everything to etcd is a big dream :)

[2015-08-26 20:21] hawka commented on #292
Lexicographical ordering of templates is not resolving this issue for me. We are seeing an issue wherein the checks performed in the second template are not able to succeed due to the first template not writing it's finalized configuration out.

See below logs:
[code]

I posit that confd is doing a sweep of all the templates it wants to evaluate that have changed, and then running the checks, and

[2015-08-30 16:04] oba11 commented on #292
Tried the lexical ordering. Sometimes it works and other times, it doesn't. The template file was carefully arranged in order

[code]

Sometimes it follows the pattern, other times it generates them at random.

[2015-09-04 22:29] crunchywelch commented on #256
FWIW, this maybe addresses this issue: https://github.com/kelseyhightower/confd/pull/332

[2015-09-07 10:16] Dynom commented on #292
This approach works flawlessly for me. However I only use 3 files at most, where only two have a lexical dependency. Maybe if I add more it becomes a problem.

I think this proves that we really need a system to handle dependencies reliably, even if it is a simple sorting strategy when reading the template files.

[2015-09-07 12:58] hawka commented on #292
I noticed that the [util_test.go file is doing a sort](https://github.com/kelseyhightower/confd/blob/master/src/github.com/kelseyhightower/confd/resource/template/util_test.go#L111) on the strings returned by the recursive file find -- it would be interesting to take that sort out, and see if the test still succeeds on all platforms.

[2015-09-08 06:31] Dynom commented on #292
Interesting find @hawka, that might actually be why that test is never failing on that part.

@oba11 on what fs are you testing it? I've read up on some of the default ordering characteristics and apparently the order where you create the files in, matters for functions such as readfile. I'm curious why you get mixed results, that doesn't make sense to me.

[2015-09-08 07:12] oba11 commented on #292
was testing it using aufs (mainly `alpine` distro from docker).

[2015-09-10 09:52] agalitsyn commented on #273
+1, it will be very useful for balancer configuration (as haproxy)

For example
toml
[code]
tmpl
[code]

[2015-09-10 19:27] dmcnaught opened #334 "confd is not updating the mode"
output from confd - each time it runs it says it's fixing the mode:
Sep 10 19:18:58 ip-172-31-29-203.ec2.internal docker[26415]: 2015-09-10T19:18:58Z ecdce67d049b confd[1]: INFO /etc/confd/output/freeipa.pem has mode -rw-r--r-- should be -rw-------
Sep 10 19:18:58 ip-172-31-29-203.ec2.internal docker[26415]: 2015-09-10T19:18:58Z ecdce67d049b confd[1]: INFO Target config /etc/confd/output/freeipa.p

[2015-09-10 21:39] dmcnaught commented on #334
This is happening when I'm writing to a mounted file (docker run ... -v /root/freeipa.pem:/etc/confd/output/freeipa.pem)

[2015-09-12 17:29] nikfoundas commented on #183
@rdsubhas I had a similar idea to include all configuration files and templates in the underlying cluster registry itself (for example inside etcd) using the same structure as in the filesystem. This would speed up deployment in container based environments like coreos docker containers. Most probably one more flag would be required in order to specify whether configuration should be read from fil

[2015-09-17 14:15] behemphi opened #337 "TOML is not validated"
Consider this example:

[code]

And this command with its output:

[code]

No template was written, however there is no obvious message in the output stating the TOML file is malformed.

[2015-09-17 20:48] nicholasvmoore opened #338 "md5sum never matches"
I have confd configured to watch an etcd2 cluster for key changes and the config gets written every 10 seconds and never end. But what seems to be the most strange is that the MD5SUM reported is always one permutation behind.

LOG:
[code]

TOML
[code]

TMPL
[code]

[2015-09-17 21:44] cloudnautique commented on #338
Could be the datetime will always change on the polling interval? Which will change the MD5SUM. I'd try removing that to see what happens.

[2015-09-18 13:10] bacongobbler commented on #338
Yes, its the date time feature. I think this is a duplicate issue

[2015-09-18 13:26] nicholasvmoore commented on #338
That was it! Thanks guys

[2015-09-18 13:26] #338 closed

[2015-09-28 09:51] dverbeek84 commented on #292
@oba11 same issue here ordering with 001, 002 is not working.
It is execute random. My nginx config is depending on cert en key(witch i create with confd). But sometimes nginx config is created before the keys and with the watch options this is not good :(

[2015-09-30 07:48] PrFalken opened #341 "Watch support for zookeeper"
Why is the watch option not supported for zookeeper ?
Since you can subscribe to a node and get pushed as soon as there's a change.
Maybe it's just not implemented yet ?

[2015-09-30 12:29] bacongobbler commented on #341
You are correct. It wasn't implemented when PR'd by a community member.

[2015-09-30 14:11] sheepkiller commented on #341
watch option is not supported because zookeeper doesn't handle recursive watch. It's a little bit tricky to implement the watch behaviour you surely expect.

[2015-10-03 07:47] ludiazv opened #342 "Feature request: crypt values support"
It is planned to support the retrieval of key-values stored with crypt? As many .conf files usually involve the definition of certain passwords or secrets it would be nice to access to them directly from templates.

Thnx

[2015-10-04 22:48] PrFalken opened #343 "add and subtract template functions"
It would be nice to be able to increase or decrease numbers in templates.
My use case is that when a system is a cache layer and registers itself in zookeeper, it should be able to access the upper/lower layers by configuration. Calling {{ add $layerId "1" }} would simply do the trick.

I have a PR ready if you're up for it.

[2015-10-07 13:08] ianbytchek commented on #337
:+1:

[2015-10-14 07:12] balboah commented on #152
Still having this problem when trying locally via docker-compose:

[code]

Seems like it gets stuck forever if confd connected before etcd elected itself as leader.
If however the etcd was already running, it works fine.

Versions:
confd 0.10.0
etcd 2.1.2

[2015-10-14 07:24] balboah opened #345 "go-etcd is deprecated"
Might never be bugfixed for issues like [this](https://github.com/kelseyhightower/confd/issues/152#issuecomment-147958764). Maybe for future stability, confd needs to switch to the [other client lib](https://github.com/coreos/etcd/tree/master/client)

[2015-10-14 09:34] ianbytchek opened #346 "reload_cmd freezes and blocks any further execution"
Have the following configuration that sometimes gets stuck on running the reload command. Running the latest version, 0.10.0.

[code]

When it gets stuck, I can open shell and enter the same command, or even only `fleetctl start mongo-db-cluster-node01@xxx` and it all gets going. The log below shows a two minute lag, after that I entered the command in a shell by hand and it unblocked confd.

[cod

[2015-10-16 08:53] scipetr commented on #273
ping

[2015-10-20 15:51] johnbellone commented on #341
Is anyone working on this? What's the expected behavior?

[2015-10-20 19:43] sheepkiller commented on #341
I plan  switching from "native" zookeeper client.go to docker/libkv

[2015-10-21 13:20] xFragger commented on #273
any news on this? can't complete my config without this or some kind of workaround

[2015-10-21 13:45] mborho commented on #273
A possible workaround can be:

{{ range $i, $k := ls "/path/to/dir" }}
    {{ if not $i }}
        // dir exists, we're at index 0 (which is boolean false)
        // do something once
    {{ end }}
{{ end }}

[2015-10-24 04:41] kelseyhightower commented on #346
@ianbytchek I think we can use a timeout on the reload command, but we will need to make it configurable.

[2015-10-24 04:41] kelseyhightower commented on #345
@balboah +1 I'll be working to port this in the coming weeks.

[2015-10-24 05:20] ianbytchek commented on #346
Yep, that would be great. In the meanwhile, there's also a [timeout command](http://linux.die.net/man/1/timeout) that seems to be doing exactly that. While it covers cases like mine, I think it would be a good idea to have a long timeout in place by default, at least it would unblock confd eventually or produce some kind of warning in logs. Now, from a side it looks like everything's running fine

[2015-11-02 14:30] mishak87 commented on #183
:+1:

[2015-11-02 16:30] mishak87 commented on #219
:+1: Any progress?
What about returning second argument on error  `getd (getv "x") "y"`?

[2015-11-02 16:33] mishak87 commented on #221
Would ignoring lines starting with # and so on help? Setting it in conf.d file `ignoreLines`...

[2015-11-06 08:35] olalonde opened #350 "gets doesn't strip leading /"
Some background: I'm trying to make a Docker container completely configurable using just env variables but also have the option to get configuration from an etcd backend if available.

Here's what I have so far:

`bitcoin.toml`
[code]

`bitcoin.conf.tmpl`
[code]

[code]

Generated `bitcoin.conf`
[code]

Two questions:

1) Any way to strip the leading slash `/` to get this result instead?

[code]

[2015-11-06 09:05] olalonde commented on #350
Solved first issue with `{{base .Key}}="{{.Value}}"`.

[2015-11-06 09:05] #350 closed

[2015-11-06 16:44] olalonde opened #351 "Inconsistent gets behavior between env and etcd backends?"
`bitcoin.conf.tmpl`

[code]

`bitcoin.toml`

[code]

When I try to run confd with env backend, `bitcoin.conf` is generated without errors even if not all BITCOIN_* keys are set:

[code]

However, when I try the same command but with the etcd backend,

[code]

confd fails with:

[code]

The only difference between both commands is essentially the backend and IMO, both backends should exhibit the sa

[2015-11-06 17:06] olalonde commented on #351
Strangely, this seems to have the desired behaviour (and identical behaviour for both etcd/env backends):

`bitcoin.conf.tmpl`

[code]

`bitcoin.toml`

[code]

[2015-11-09 16:36] cloudnautique opened #352 "Next release plan?"
Hi, is there a timeline for the 0.11.0 release?

[2015-11-09 18:03] bacongobbler commented on #352
@cloudnautique there's no timeline. It's just maintained on our own free time. Do you have something in mind that you'd like to see in 0.11?

[2015-11-09 19:11] rcadena commented on #346
fwiw, I found that this happens to me when the reload command launches a process and sends it to the background.  anything with `./some_executable_foo &`.  Looks like golang's exec and `CombinedOutput` stuff causes this behavior.  So, a timeout might not be the best solution because you'd kill the forked procs.  I think this is related (https://groups.google.com/forum/#!topic/golang-nuts/pJe7TVb-6

[2015-11-09 19:30] cloudnautique commented on #352
Cool, not in a huge rush, we added the Rancher metadata backend and would like to point users to an official release. We have a binary/container available that we built thats working for now.

Thanks.

[2015-11-09 19:53] ianbytchek commented on #346
True, true. But I guess you shouldn't invoke a forking process in this context or am I missing a point? The issue here is that a process may block the entire confd operation, a solution would be to kill and launch confd service again, that is the same outcome for the forked / blocking process either way.

[2015-11-09 20:01] rcadena commented on #346
it's easy to go around, so I think maybe just mentioning it in the docs might be enough.  My service lifecycle was sort of split between two files, a run file and a reload script.  I couldn't reload my process with, say a signal, like nginx, for instance, so I was killing it and then relaunching it and sending it to the background. but, there's a straightforward fix, though, and  no need to kill c

[2015-11-10 13:00] lynxman opened #353 "DynamoDB invalid memory address or nil pointer dereference"
Running on RHEL7
Using DynamoDB in AWS with profile credentials (inherited from IAM profile)
Just with one template for testing
Compiled with Golang version 1.4.2 from trunk as of today (10 Nov 2015 1pm GMT)

Here is the template config

    [template]
    prefix = "/test"
    src = "nginx_upstream.tmpl"
    dest = "/etc/nginx/conf.d/test.conf"
    owner = "nginx"
    mode = "0444"
    keys = [

[2015-11-10 18:26] markhowells opened #354 "confd fails talking to etcd in proxy mode"
I have a etcd proxy (2.2.1) doing TLS termination and exposing an endpoint on http://172.17.0.1:2379/
Using etcdctl I can read/write the cluster if I use --no-sync to force etcdctl to trust the proxy.

Confd (0.10.0) appears to exhibit similar behaviour to etcdctl without the no-sync flag

    confd -onetime -node http://172.17.0.1:2379

returns the following (I've redacted the external IP address

[2015-11-10 18:35] bacongobbler commented on #354
sounds like a dupe of #319. Try out #329 and see if that helps solve your issue :)

[2015-11-11 10:30] markhowells commented on #354
Yep. That fix works fine. Hope it makes it into a release soon. :)

[2015-11-11 10:30] #354 closed

[2015-11-11 14:19] vangie commented on #273
+1

[2015-11-12 12:47] anapsix opened #355 "renew confd.io (pending deletion)"
@kelseyhightower, you might want to renew it (?)
[code]

[whois via nic.io](http://nic.io/go/whois/confd.io):
[code]

[2015-11-20 00:00] clescot commented on #352
+1 for a new release (interested by the rancher backend).

[2015-11-20 00:06] clescot opened #356 "support export values from other backends as env variables?"
Hi,
it would be useful to export by configuration some values grabbed from a not env backend, as env variables.
my use case :
i grab my unknown host IP from rancher backend via confd, which will be used in a startup script.
actually, i need to put another template to export this value in a bash script.
It would be nice if confd export by configuration these grabbed values out of the box.

best reg

[2015-11-20 17:14] markhowells opened #358 "prefix key is not used when in watch mode"
using confd 0.10.0, it seems that watch doesn;t respect the prefix key.  Without it (and with longhand keys) all is well. -onetime (forcing the processing) works. But with a prefix and shorthand keys, watches are never fired

[2015-11-20 17:43] markhowells commented on #352
Yep, I'm interested in the --no-sync option.

A new release would be appreciated (I'm running a fork)

[2015-11-22 06:30] moshe0076 opened #359 "Exit code 0 when cannot load template resources: confdir"
confd should return exit code non-zero when it fails to find the template resources so scripts or Jenkins jobs will break.

[2015-11-26 09:20] jfisbein opened #360 "Confd blocked running reload_cmd"
When confd launchs my reload_cmd it gets blocked until I kill the command.

Here are my conf files:

decimodule.toml
[code]

Here is my reload script.
reload.sh:
[code]

Here is the console oputput when when I launch manually:
[code]

Is this a bug? I'm doing something wrong? How can I solve it?

Thanks!

[2015-11-30 15:06] mingfang opened #361 "Add file based(json and/or yaml) backend"
Currently we use confd with the etcd backend for dynamic Nginx configuration.
We want to standardize on confd for all configuration templating.
For some simple one time templating we want to avoid using etcd but rather keep configurations inside a simple json and/or yaml file.

[2015-11-30 15:16] bacongobbler commented on #361
see #201

[2015-11-30 15:16] BradWhittington opened #362 "Sentry error reporting on missing keys"
I'm not sure if this would be possible / desirable for other people, but it would be a huge help if we could configure confd to report missing keys / trouble generating configs into Sentry (or I'm sure, airbrake, etc.)

[2015-11-30 15:23] mingfang commented on #361
@bacongobbler Thanks for the link.
After reading #201 I not sure if this feature was actually implemented or not.
The issue was closed yet the feature is not documented.

[2015-11-30 16:05] bacongobbler commented on #361
Sorry, yeah I was just trying to point out that this has been a requested feature before but there were some issues with the implementation which we never got around to fixing. It was eventually closed but not merged.

[2015-11-30 17:53] lc0 commented on #352
Also seems like the last dynamodb fix is not in last release

https://github.com/kelseyhightower/confd/commit/1f7ec71cb2a9ba337f4e893ea99ebff6a05ede3d

would be cool if we can bring it up

[2015-11-30 18:01] bacongobbler commented on #352
I'll see if I can whip up a new release some time today. I likely won't be able to until after regular work hours (17:00PST). Sorry!

[2015-11-30 23:23] lc0 commented on #352
@bacongobbler Thank you very much man!

Just in case, I made a build from the current master -
https://github.com/lc0/confd/releases/tag/v0.10.1

[2015-12-01 16:32] bacongobbler commented on #352
Ok, I just cut [v0.11.0](https://github.com/kelseyhightower/confd/releases/tag/v0.11.0). Thanks for your patience!

[2015-12-01 16:32] #352 closed

[2015-12-01 20:05] petere commented on #322
I see this too, with the consul backend, when the consul service is not yet running (e.g., after a reboot of the entire system).

[2015-12-01 21:25] bacongobbler commented on #322
@m1no do you mean the 0.11 release?

[2015-12-02 00:21] TrimBiggs opened #364 "No support for etcd TLS server-only authentication"
There is support for creating an etcd client object that can access a TLS etcd server with client certificate authentication.  However, there does not seem to be support for accessing a TLS etcd server with JUST server CA authentication (eg. [Etcd Security Model Example 1](https://github.com/coreos/etcd/blob/master/Documentation/security.md#example-1-client-to-server-transport-security-with-https)

[2015-12-02 07:47] clescot commented on #352
Thanks for this release!
Charles.

[2015-12-02 16:46] petere commented on #322
I can still reproduce this with the 0.11.0 release.

[2015-12-02 16:48] petere opened #365 "0.11.0 shows wrong version number"
The binary at https://github.com/kelseyhightower/confd/releases/download/v0.11.0/confd-linux-amd64 reports the wrong version number:

    $ /usr/local/bin/confd -version
    confd 0.12.0-dev

[2015-12-02 17:02] bacongobbler commented on #365
Oops! I've updated them now, so it should show `confd v0.11.0`. I accidentally created the release versions [off master](https://github.com/kelseyhightower/confd/commit/76ac8ee3eb588080abca1ade634c224b3379bdc6) after I bumped the confd version to the next release instead of checking out the v0.11.0 tag before building them. I'll keep this ticket open so that I can reflect this in the documentation

[2015-12-02 17:06] bacongobbler commented on #322
The error's pointing at lines 56 and 57 [here](https://github.com/kelseyhightower/confd/blob/v0.11.0/src/github.com/kelseyhightower/confd/backends/consul/client.go#L56-L57) but it looks like a --watch error with confd.

[2015-12-03 00:17] jonboulle commented on #364
go-etcd is deprecated, so this is unlikely to be fixed here; the real solution is to migrate confd to the official [`github.com/coreos/etcd/client`](https://github.com/coreos/etcd/tree/master/client) client (which is use by etcdctl)

[2015-12-03 00:26] bacongobbler commented on #364
related: https://github.com/kelseyhightower/confd/issues/345

[2015-12-03 00:44] jonboulle commented on #364
Oops, I guess i put my comment on the wrong repository.

[2015-12-03 09:45] ChineduUzoka commented on #365
Ill add that the download URL is no consistent with the previous releases
Previous releases had the version string as part of the file name

https://github.com/kelseyhightower/confd/releases/download/v0.11.0/confd-linux-amd64

[2015-12-03 19:18] benluddyatwork opened #366 "Error not logged with -onetime"
In order to find out what was causing confd to exit 1 (a typo in a template resource), I had to remove -onetime. It would be nice to log err here: https://github.com/kelseyhightower/confd/blob/46d3c69d05c29f0842472df44354d1023917b833/src/github.com/kelseyhightower/confd/confd.go#L35

[2015-12-03 19:32] bacongobbler commented on #366
Good catch. We certainly should log that error rather than failing silently.

[2015-12-07 09:36] llarsson opened #367 "0.11.0 new "replace" function undocumented"
Thanks to #305, we now have a replace function, but the documentation over at `docs/templates.md` does not describe it.

[2015-12-07 09:44] llarsson opened #368 "Release URL scheme changed with v0.11.0"
As commented by @ChineduUzoka over in [#365](https://github.com/kelseyhightower/confd/issues/365#issuecomment-161570076), the release URL scheme changed with v0.11.0

Is this new scheme what will be used henceforth, or was it a mistake?

[2015-12-07 10:42] bacongobbler commented on #368
This was a mistake. I'll rectify it. Thanks!

[2015-12-09 17:42] juicedM3 commented on #146
+1

[2015-12-09 18:06] juicedM3 commented on #146
I was hoping that the auth-token config param would at least pass the master token to consul but it doesn't. Just master token support would be a good start.

[2015-12-09 19:06] juicedM3 commented on #146
I've dug around the code and found if I set the ENV variable CONSUL_HTTP_TOKEN, I can pass the master token.

[2015-12-09 22:32] streamnsight commented on #273
this workaround
[code]

seems to work at first level dir, but not in nested dirs... so it needs to be nested.
it becomes ugly quickly...

[2015-12-10 23:14] streamnsight commented on #273
actually, it doesn't work when the key is meant to be watched in the TOML file, that's where it errors first with key not found even before getting to parsing the template.

[2015-12-10 23:54] streamnsight commented on #345
was this ever done?

[2015-12-11 01:03] bacongobbler commented on #345
Nope, we still haven't ported over to go-etcd.

[2015-12-11 20:30] juicedM3 commented on #146
I've forked the code and have a working example (https://github.com/juicedM3/confd). I need to write tests and create a pull request.

[2015-12-14 17:13] juicedM3 commented on #146
Pull request https://github.com/kelseyhightower/confd/pull/369.

[2015-12-15 16:23] bacongobbler commented on #365
fixed.

[2015-12-15 16:23] #365 closed

[2015-12-15 16:24] bacongobbler commented on #368
fixed.

[2015-12-15 16:24] #368 closed

[2015-12-17 13:58] maticmeznar commented on #345
@kelseyhightower Whats the ETA on this?

[2015-12-24 00:42] nickithewatt opened #372 "Support for a (HashiCorp) Vault backend"
Any plans to add support for the HashiCorp Vault backend?

[2015-12-25 10:16] moshe0076 commented on #152
Changing "-advertise-client-urls" from http://0.0.0.0:4001 to http://etcd-server-ip-address:4001 have solved the problem of  confd connecting to this remote etcd and giving me  "dial tcp 0.0.0.0:4001: connection refused".

[2015-12-28 09:11] josegonzalez commented on #355
Friendly *bump* :)

[2015-12-28 21:14] tduchateau commented on #359
+1

[2015-12-29 00:23] j-mcnally commented on #273
im having that issue too streamnsight

[2015-12-29 01:26] streamnsight commented on #273
@j-mcnally  sorry, couldn't find a workaround. I ended up pre-populating the folders with mkdir function in etcd client so that the dir exists even if empty.

[2015-12-31 13:34] SealedSun opened #373 "Redis backend cannot recover from node failure"
I'm using `confd` with the `redis` backend and wanted to see if `confd` could get back to work after the one (and only) `redis` node disappears for a couple of minutes.

Unfortunately, when Redis was back up, the `confd` `redis` backend was apparently still trying to use the original network connection (now closed). I got the following log message over and over again:
[code]

I had hoped, that con

[2015-12-31 13:41] SealedSun commented on #373
Looking at [src/github.com/kelseyhightower/confd/backends/redis/client.go](https://github.com/kelseyhightower/confd/blob/master/src/github.com/kelseyhightower/confd/backends/redis/client.go), it seems like the redis backend creates a connection to the first backend node that responds and then keeps that connection forever (throwing away the list of backend nodes).

One approach to solve this would

[2016-01-05 04:16] jbkc85 opened #375 "dynamodb errors"
Hi all,

I have added a bit of code to make the basics of the new Etcd library work, but had to comment out all the dynamodb configurations due to issues with their library.  I am not in the position to work on dynamodb at this time, and was wondering how to handle this situation.  I could easily move the dynamodb out, but fear that would result in some not noticing that the code was commented out

[2016-01-06 17:40] arthur-c opened #376 "reload_cmd prevent standard log output"
Hi,

I start a jetty application in a docker with the reload_cmd option in my toml and it prevents the jetty logs to be sent to the standard output. I'm able to see the confd logs on the standard output and systemd (coreos).
I stopped to use the reload_cmd and now I start jetty directly after confd in my docker bootscript, and my logs are back. I don't need to reload once the app is configured wit

[2016-01-11 18:51] petere commented on #322
Without `-watch` it just hangs if consul is not up. Not sure if that is intentional either.

[2016-01-14 10:12] ivankennethwang opened #378 "confd fails to load records from SRV after update"
After SRV records were updated, confd is still using old records.

[code]

Is there a way for confd to update peers from SRV records automatically (aside from restarting confd)?

[2016-01-14 16:16] bacongobbler commented on #378
Sounds like confd is failing to communicate with etcd, which is what's causing confd to not update the SRV records. I'd try and debug your connection to see why that's occurring.

[2016-01-14 16:24] ivankennethwang commented on #378
in this scenario i have changed the SRV records to point to new cluster (130, 131, 88, 89)
the old cluster was shutdown causing all peers unreachable (113, 114, 10, 9)

i was hoping confd can refresh and resync SRV records to connect to new cluster without restarting confd

[2016-01-15 14:58] ivankennethwang opened #379 "Question: Can we use watch and interval at the same time?"
Can we use watch and interval at the same time?

[2016-01-15 15:46] bacongobbler commented on #379
No. The two are [mutually exclusive](https://github.com/kelseyhightower/confd/blob/46d3c69d05c29f0842472df44354d1023917b833/src/github.com/kelseyhightower/confd/confd.go#L45-L50). :)

[2016-01-15 15:46] #379 closed

[2016-01-19 00:14] sporkmonger commented on #372
I too would be very interested in seeing this.

[2016-01-19 12:31] danixen commented on #216
Was it ever changed? Reading the documentation i see

gets
Returns all KVPair, []KVPair, where key matches its argument. Returns an error if key is not found.

getv
Returns the value as a string where key matches its argument. Returns an error if key is not found.

getvs
Returns all values, []string, where key matches its argument. Returns an error if key is not found.

[2016-01-19 16:00] bacongobbler commented on #216
the change was made but it sounds like the docs weren't updated

[2016-01-19 16:10] danixen commented on #216
Im trying to update my haproxy configuration file with confd. I want it to make no changes if no key is found. However confd throw an error saying "key not found" and does not complete the template.
ANy help with this?

Here's a code sample

{{range $service := ls "/microservices/}}
   found
{{end}}

[2016-01-21 12:45] jamescarr commented on #341
Cool let me know how this goes. How does this work without watch? I ran confd as a daemon and it never re-rendered templates until I restarted it. In the end I wound up just running it as a cron.

[2016-01-23 18:57] kelseyhightower commented on #366
This is fixed on master

[2016-01-23 18:57] #366 closed

[2016-01-23 19:48] kelseyhightower commented on #378
@ivankennethwang Currently confd only pulls the SRV records during startup. Ideally we would introduce a way to refresh the config at run time.

[2016-01-26 11:35] geku commented on #319
For us this problem prevents an etcd cluster migration to new node. We have an etcd cluster and etcd-proxies, when etcd nodes get migrated to new nodes, the proxies still work and connect to the new etcd peers but confd stops working as it somehow misses the new etcd peers and returns a `ERROR 501: All the given peers are not reachable`.

In case the etcd would trust the proxy and not try to disco

[2016-01-26 14:59] muayyad-alsadi opened #381 "RFE: support for LDAP"
example use case is collect public keys from LDAP (for example FreeIPA) and generate authorized keys

[2016-01-26 17:33] kelseyhightower commented on #355
@josegonzalez @anapsix Both issues regarding the domain have been fixed. The domain name registration was renewed just in time so it was not delete. I'm now delegating DNS to Google Compute Engine so everything should be working now. Thanks for the ping and friendly reminders.

[2016-01-26 17:33] #355 closed

[2016-01-26 17:33] #373 closed

[2016-01-26 17:39] kelseyhightower commented on #381
@muayyad-alsadi I guess a LDAP backend would do it, but it might be easier to have an external tool fetch the public keys from LDAP and drop them into something like etcd or consul.

[2016-01-26 19:52] muayyad-alsadi commented on #381
But don't you think that having a cron that fetches public keys over and
over from ldap and publish then to etcd every so and so is not ideal and
can be said to any backend like zookeeper or redis.

On Tue, Jan 26, 2016, 7:39 PM Kelsey Hightower <notifications@github.com>
wrote:

[2016-01-26 20:05] bacongobbler commented on #381
I think the point @kelseyhightower is trying to make is that redis/zookeeper/etcd are key/value stores. LDAP is not. It would make sense if LDAP is a key/value store which we could watch certain keysets or perform operations on them, but LDAP does not have that kind of functionality. I'm personally in favour of @kelseyhightower's suggestion here.

[2016-01-26 20:41] muayyad-alsadi commented on #381
LDAP is short for lightweight director which is a hierarchal database of
entries each entry has a key or uid and values. In my example use case user
entries have corresponding ssh public keys. In away similar to env backend
we can look to ldap as key value.

Of course we are going to limit it to something that makes sense.

http://linux.die.net/man/1/ldapsearch
http://www.freeipa.org/page/V4/Direc

[2016-01-27 10:25] sfussenegger commented on #361
@bacongobbler sounds like a very interesting feature. #201 was about using a filesystem as backend (i.e. multiple files and directories). Shouldn't a single JSON/YAML file backend be much easier to implement? The use case I have in mind is using a cron job with curl and an (arbitrary) REST service or other JSON-based tools to update a file that is watched by confd. e.g. to maintain a list of EC2 i

[2016-01-27 16:09] muayyad-alsadi opened #382 "broken empty retry join"
hi,

when I have a server.json like this

[code]

I got periodic logs like this

[code]

[2016-01-27 16:22] muayyad-alsadi commented on #382
sorry wrong window

[2016-01-27 16:22] #382 closed

[2016-01-27 17:48] odedlaz commented on #372
I'm working on it right now. I actually have a working prototype that supports token authentication, github authentication and userpass authentication. The only "problem" I'm facing is how to actually extract the data. When accessing a specific key in vault it returns a map of keys and values. To make the templating engine work, I need to pick a specific value. currently, I'm extracting a key call

[2016-01-27 17:55] bacongobbler commented on #372
@odedlaz if you can encapsulate that map into a struct, we could template that out. I'd imagine that those keys and values are important to the user. What exactly does the map look like when it's returned? Haven't worked with Vault before.

[2016-01-28 08:54] muayyad-alsadi commented on #381
maybe we need a more general way of passing parameters for example instead of `-node consul1.service`  or `-table mytable` for example `-backend-option node=consul1.service -backend-option node=consul2.service` which such generic way passing required parameters to ldap would be easy.

@kelseyhightower  @bacongobbler  do you think the above method is over-engineering over-generalization or is this

[2016-01-28 15:30] odedlaz commented on #372
@bacongobbler, confd expects a key-value store and the value lookup method signature is
[code]
 which means that for each key, the backends needs to find a string value.
Changing the method signature would be a big change in the way confd works.
I can do that, but I think it's an over-kill now.
take a look at my pull request: https://github.com/kelseyhightower/confd/pull/383

[2016-01-29 17:19] bacongobbler commented on #216
@danixen I just checked and verified and it doesn't look like this change ever made it into master.

[2016-01-31 11:16] odedlaz commented on #372
@bacongobbler , I've made the proper adjustments to make it work. please take a look at my pull request and tell me what you think: https://github.com/kelseyhightower/confd/pull/383

[2016-02-11 22:21] hypergig opened #385 "Better template engine?"
Coming from a jinja2 background, I find the golang text template engine... limited.

I was playing with the idea of bootstrapping a small python process that will build templates using jinja2 instead of golangs in confd. Then I can enjoy the full glory that is [jinja2.](http://jinja.pocoo.org/docs/dev/templates/)

I have a few thoughts on how to best do this without making it all too heavy but bef

[2016-02-11 22:36] bacongobbler commented on #385
Closing as a duplicate of #190. We're not planning on changing the templating engine any time soon.

To address your functionality questions, [text/template](https://golang.org/pkg/text/template/) has for loops:

As for sort, the keys are already in sorted order:

Would you mind opening a separate issue for implementing a reverse function? Thanks!

[2016-02-11 22:36] #385 closed

[2016-02-11 22:53] hypergig commented on #385
@bacongobbler sure, forward sorted order.. but say you want to sort reverse alphabetized? Say you're building a giant list of urls for some haproxy config file and you want longer urls of the same prefix to be written first.. e.g.
[code]
Using range as it is, I would get
[code]
No good when using starts with in haproxy.  Also, with range you are forced to sort based on key... you have to do some j

[2016-02-11 22:55] jnbnyc opened #386 "Implement additional text/template sorting methods"
In reference to the following:
closed https://github.com/kelseyhightower/confd/issues/385
open https://github.com/kelseyhightower/confd/issues/190

Two methods that would help tremendously:

Reverse sort
Sort map keys and/or values by length

[2016-02-18 17:55] kelseyhightower commented on #345
Just updated master to use the new etcd client. Please test.

[2016-02-18 17:55] #345 closed

[2016-02-18 19:43] insequent commented on #309
This should work now with https://github.com/kelseyhightower/confd/pull/387. I've been using a similar fork locally, and it looks good.

[2016-02-19 03:12] osterman opened #389 "Problems with confd 0.9.0 - 0.11.0"
Seeing this with regularity. Connections to etcd fail about 20 seconds after it starts (for the first time, usually during boot process) and it's unable to recover.

Restarting `confd` fixes it 100% of the time. Etcd is accessible even when it says it's offline. Not sure if it's related to that the host it's on is using etcd-proxy mode (and we're connecting confd to `$COREOS_PRIVATE_IPV4`). The er

[2016-02-19 03:32] ivankennethwang opened #390 "etcd watch seems like polling"
I notice that when I enable watch for etcd, confd tries to polls from etcd continuously instead of watching based on logs.

My config
[code]

[code]

[2016-02-19 04:27] kelseyhightower commented on #389
@osterman can you try this without proxy mode?

[2016-02-19 10:30] r0j4z0 commented on #276
+1

Any update about this? is a bit ugly maintain 2 similar records for etcd cluster configuration and for confd client access. I think the additional flag is the best option.

[2016-02-19 17:25] sylus opened #391 "Plans for next release 0.12.0"
Hi, I was wondering what are the plans for the next release as alot has made its way in since 0.11.0.

Of primary interest to myself is the new vault addition :)

[2016-02-19 18:44] HeavyHorst commented on #364
Should be fixed in #392

[code]

[2016-02-19 18:59] #364 closed

[2016-02-19 18:59] bacongobbler commented on #364
fixed with https://github.com/kelseyhightower/confd/pull/387.

[2016-02-19 19:44] insequent commented on #309
Testingwent well from inside calico-node:

[code]

and calico routing, bgp peering, and calicoctl commands work properly. I'd say we look good for whenever the next confd release happens.

[2016-02-19 20:18] bacongobbler commented on #309
someone else also confirmed this (by proxy) in https://github.com/kelseyhightower/confd/issues/364#issuecomment-186356486 as well, so it looks like this can be closed.

[2016-02-19 20:18] #309 closed

[2016-02-19 22:18] tomdee commented on #309
@insequent Thanks for doing this testing. I'm happy to rollback projectcalico/calico-containers#281 when the next confd release happens.

[2016-02-19 23:11] #390 closed

[2016-02-19 23:12] kelseyhightower commented on #391
@sylus I'm in the process of cleaning up all the backends and adding more test. I plant to cut a 1.0.0 RC in the next few weeks.

[2016-02-19 23:22] kelseyhightower commented on #372
Vault support has been added via #383

[2016-02-19 23:22] #372 closed

[2016-02-19 23:23] kelseyhightower commented on #327
Release 0.11.0 was cut and should have the required features.

[2016-02-19 23:23] #327 closed

[2016-02-19 23:56] #322 closed

[2016-02-19 23:57] kelseyhightower commented on #322
This issue is now fixed on master. If consul is not up the confd will print the following error messages:

[code]

This works for both watches and interval runs.

[2016-02-20 00:08] kelseyhightower commented on #359
I'm assuming this happens when there are no templates to process? Right now it's totally valid to have no template resources to process.

[2016-02-20 01:12] kelseyhightower commented on #375
Looks like we got the new etcd stuff merged and I've fixed the issues around dynamodb so all should be good now. Testing what we have on master would be awesome.

[2016-02-20 01:12] #375 closed

[2016-02-20 01:13] kelseyhightower commented on #391
@sylus I'm going to cut some binaries of what I have on master so people can start testing things out.

[2016-02-20 01:13] #391 closed

[2016-02-20 01:19] kelseyhightower commented on #391
@sylus I've cut some new binaries for testing here: https://github.com/kelseyhightower/confd/releases/tag/0.12.0-alpha1

[2016-02-20 01:22] kelseyhightower commented on #381
@muayyad-alsadi While I agree we need a way to specify backend specific options, I'm not sure LDAP integration is the path I want to go down.

[2016-02-20 01:32] sylus commented on #391
Thank you so much! ^_^

Also many thanks for confd in general! It has really been of great help to me.

[2016-02-20 05:28] kelseyhightower commented on #389
@osterman I just cut a 0.12.0 alpha release, which uses the new etcd client libs. Can you retest using the 0.12.0 alpha release: https://github.com/kelseyhightower/confd/releases/tag/0.12.0-alpha1

[2016-02-20 14:23] HeavyHorst commented on #337
I think this can be closed:

[code]

[2016-02-20 15:23] #337 closed

[2016-02-20 15:57] kelseyhightower commented on #381
At this point I rather see a proposal on how to handle metadata such as this and give backends the ability to process it. I'm closing this issue because I don't believe LDAP is the right way to go about this.

[2016-02-20 15:57] #381 closed

[2016-02-20 16:03] kelseyhightower commented on #308
@diegomarangoni Sorry for the late response here, but I'm not sure how to solve this problem. Right now we write to a tmp file to give us something we can compare. Then we do an atomic move to ensure we replace the target file in one shot. Most tools I know of do this to reduce the chance of an error during the write process leaving the target file in a broken state.

If you have a good example of

[2016-02-20 16:03] #308 closed

[2016-02-20 16:08] kelseyhightower commented on #356
This issue makes me believe we need a general discussion around multiple sources for configuration values. The goal with confd is to have users pull all configuration, from multiple sources, and push them to a single configuration data store. This data store would become the source of truth for all configuration and would be the only source confd would pull from.

IMO this is the only way to keep

[2016-02-20 16:08] #356 closed

[2016-02-20 16:10] kelseyhightower commented on #316
@Ropes Just moved back to godeps, I'm going to mark this issue resolved.

[2016-02-20 16:10] #316 closed

[2016-02-20 16:11] kelseyhightower commented on #301
I agree with @bacongobbler that this is out of scope for confd.

[2016-02-20 16:11] #301 closed

[2016-02-20 16:13] kelseyhightower commented on #289
I'm closing this due to a lack of response, but if this is still a problem I'm happy to help once you provide the requested info.

[2016-02-20 16:13] #289 closed

[2016-02-20 16:15] kelseyhightower commented on #273
@streamnsight @j-mcnally I just cut 0.12.0 that uses the new etcd client, any chance one of you can retest?

[2016-02-20 16:16] kelseyhightower commented on #186
@loveshell I'm closing this due to inactivity. Please try the suggestion from @ankurs and let me know if that solves the problem, if not please reopen.

[2016-02-20 16:16] #186 closed

[2016-02-20 16:19] kelseyhightower commented on #268
I'm hacking on this now.

[2016-02-20 16:56] #268 closed

[2016-02-20 16:56] kelseyhightower commented on #268
This should be fixed on master.

[2016-02-20 17:03] kelseyhightower commented on #199
It would be really hard to implement something like this across all backend stores and not cause serious performance issues walking a path to find its leaf nodes. I'm afraid this is out of scope for confd, which is designed to track specific keys and paths.

[2016-02-20 17:03] #199 closed

[2016-02-20 22:30] kelseyhightower commented on #276
@r0j4z0 I'll be working on a solution for this today.

[2016-02-20 22:36] streamnsight commented on #273
Frankly i have moved on from there at this point, but will need to get back to it, just don't have time right now.

[2016-02-20 23:48] kelseyhightower commented on #276
@r0j4z0 I'm thinking about introducing a new flag called `--srv-record` which would let you use anything you wanted to look up the SRV records. For example:

[code]

[2016-02-20 23:56] #276 closed

[2016-02-20 23:56] kelseyhightower commented on #276
@r0j4z0 This has been fixed on master. Please test and let me know.

[2016-02-21 04:57] jbkc85 commented on #375
Sure thing, I will see if i can write out some unit testing and just share it in a repository for others to test whenever you build new versions of Confd in case things change.

out of curiosity, did my code help at all?  I wasn't sure as I didn't make a pull request, but would be happy if it helped :-)

[2016-02-21 13:31] HeavyHorst commented on #319
This should be fixed in the latest master because of the switch to the new etcd client libs.

[2016-02-21 18:46] kelseyhightower commented on #376
@arthur-c The reload_cmd should only be used to restart an application. It should not be used to start your application server. confd should not be used to start another process, it's only job is to generate configuration files, then optionally run a check and/or reload command.

[2016-02-21 18:46] #376 closed

[2016-02-21 18:49] kelseyhightower commented on #378
Today we don't revisit configuration during runtime, right now that requires a restart of confd.

[2016-02-21 18:49] #378 closed

[2016-02-21 18:52] kelseyhightower commented on #362
@BradWhittington Sorry for getting to this so late, but I wonder if it would be better to have something like fluentd or some other log aggregator managing logs so we don't end up having to support so many tools for this.

I would like to keep confd simple as possible for the moment and that means logging to stderr and stdout.

[2016-02-21 18:52] #362 closed

[2016-02-21 19:03] kelseyhightower commented on #216
@bacongobbler If these functions return empty strings and lists how will people know the difference between a missing or empty key?

[2016-02-21 19:36] BradWhittington commented on #362
That's the approach we took in the end. Thanks.

[2016-02-21 20:14] r0j4z0 commented on #276
@kelseyhightower Tested, works like a charm! thank you!

[2016-02-21 20:48] arthur-c commented on #376
I understand but it was very convenient to use. But after that I found your great article "12 Fractured Apps" and I migrated to environment variable config. No need to confd  anymore for this app, thanks !

[2016-02-21 21:47] bacongobbler commented on #216
that is a good point. For our templating purposes we consider both the same since we're iterating over a list that typically has a TTL. If the key does not exist, that's fine for our use case.

However for us we are moving away from etcd templating now that we've moved over to kubernetes so my use case could be special, and it'd probably be better to initialize the keyspace with an empty list.

[2016-02-22 18:24] diegomarangoni commented on #308
@kelseyhightower What about replacing target file content within tmp file content?
And maybe to ensure the file is ok, compare their MD5 hash's?

Unfortunately I don't have any Go example.

Well, it's just a idea, I solved anyways by using a custom bash script set on `reload_cmd` that updates file content, it works, but it's ugly.

[2016-02-23 00:35] elsonrodriguez commented on #285
I gave a shot a reproducing this, didn't have much luck. I tried to reproduce with golang 1.6, with both cgo and pure go resolvers.

### Environment
#### Golang
[code]
#### DNS SRV Records

[code]

All etcd nodes resolve to localhost (127.0.0.1)

[code]

#### etcd cluster

The following Procfile was used to provision a 5 node etcd cluster on my local machine:
https://github.com/kelseyhightower/con

[2016-02-23 00:45] kelseyhightower commented on #285
@elsonrodriguez Thanks for jumping in on this one. I've verified your results and it all looks good to me. I'm closing this one out, feel free to reopen if you are still having issues.

[2016-02-23 00:45] #285 closed

[2016-02-23 04:23] kelseyhightower commented on #269
Looks like the datetime template function has been added, closing this out.

[2016-02-23 04:23] #269 closed

[2016-02-23 04:31] elsonrodriguez commented on #334
Looked into this, but wasn't able to reproduce. It could be the case that there were bugs present that are gone now.

Here's how I tried to reproduce:

### Environment
#### Docker
[code]
#### Docker Commandline
[code]

#### Confd (built from HEAD)

[code]

#### Confd config/templates
[code]

[code]
#### Before etcd triggered confd change
[code]
#### After confd  change
[code]
#### Confd Output
[co

[2016-02-23 04:38] kelseyhightower commented on #367
Fixed, docs have been added. https://github.com/kelseyhightower/confd/blob/master/docs/templates.md#replace

[2016-02-23 04:38] #367 closed

[2016-02-23 04:39] kelseyhightower commented on #334
@elsonrodriguez Thanks for taking a look at this. I was not able to repo this issue as well, but my guess is that the later version of Docker or golang make this work.

[2016-02-23 04:39] #334 closed

[2016-02-23 05:11] elsonrodriguez commented on #358
Couldn't reproduce this issue on the latest confd, Tried to reproduce as follows (I assumed etcd for the back end)
#### etcd version
[code]

#### confd version
[code]

#### Confd configuration
[code]

[code]

#### confd command line
[code]

#### etcd data structure
[code]

#### Confd logs on etcd value change
[code]
Could you try to reproduce on the latest versions of confd/etcd and see if it solv

[2016-02-23 05:18] kelseyhightower commented on #389
@osterman After a bit of testing with the new etcd client, current being used on master, I can say confd recovers from etcd failures much better.

Please retest using one of the 0.12.0 alphas releases or try building from master. If you are still having issues please reopen this issue. Thanks.

[2016-02-23 05:18] #389 closed

[2016-02-23 05:21] kelseyhightower commented on #190
@tboerger I agree, the golang templates do have their limits, but at this point that's what confd supports. I'm open to people forking confd and adding support for pongo. I see confd as only one way to do it.

[2016-02-23 05:24] kelseyhightower commented on #361
@sfussenegger @bacongobbler I'm happy to see a simple json or yaml backend. Ideally it would work like the env backend. We can add support for watches on files as well.

[2016-02-23 05:25] kelseyhightower commented on #319
This should now be fixed on master now that we are using the new etcd client libs.

[2016-02-23 05:25] #319 closed

[2016-02-23 09:21] markhowells commented on #358
Using the latest confd/etcd I can't reproduce it now either.  Your test represents the environment I had (I think - it was some time ago now...).  I _was_ using confd 0.10.0 (and I don't know what version of etcd).

I think it's probably best to close this issue..

[2016-02-23 14:49] kelseyhightower commented on #275
Unfortunately we cannot change the behavior on this one. confd writes configs to a temp file to ensure we don't change configs unless they pass any checks. Backend up the target file, then running the check runs the possibility of leaving the system in a broken state. The goal rename the proposed config file after ensuring it's ready to go.

confd does not support the slightly more complex use cas

[2016-02-23 14:49] #275 closed

[2016-02-23 15:46] kelseyhightower commented on #256
After thinking about this for a while, I'm going to reject this feature in order to keep confd simple. confd is really designed to map one template resource to a single output file. This keeps confd simple, but as you pointed out it does limit the types of problems confd can solve.

I'm willing to make this trade off though in order to keep confd simple.

[2016-02-23 15:58] kelseyhightower commented on #360
confd should not be used to start the service it's managing the configuration file for. The reload command must exit. Another tool should be used to start the service after confd runs if you want things to happen in a specific order. confd supports the reload command so that we have a way to tell an application that it should reread the configuration file after confd updates it.

[2016-02-23 15:58] #360 closed

[2016-02-23 16:53] kelseyhightower commented on #346
I've added a note regarding the reload cmd and blocking of configuration runs. When I clean up the docs I'll call this out in more places. Thanks for the feedback.

[2016-02-23 16:53] #346 closed

[2016-02-23 17:04] kelseyhightower commented on #181
This is by design. For some users returning the base dir is desirable because they don't have to use base function to get the base path. For other users returning the full path is nice because they don't have to join the base dir with root key.

The decision was made in confd to follow the output from the ls unix command and only return the base path by default and force users to join the root pat

[2016-02-23 17:04] #181 closed

[2016-02-23 17:17] kelseyhightower commented on #310
I've made the call here to reject the idea of dynamic keys in favor of forcing users to be explicit in configuration files. I know this limits a few things confd can do, but I really want to keep this tool simple. I've also added more context in the linked issues on why I don't want confd to go down this path.

In the future, once I clean up the docs, I want to outline the end game for confd, whic

[2016-02-23 17:17] #310 closed

[2016-02-23 17:21] kelseyhightower commented on #359
Today confd allows you to have 0 templates to process. I'm working on a feature to add support for running a single template-resource using a specific template.

In the near future you will be able to do something like:
[code]

[2016-02-23 17:21] #359 closed

[2016-02-23 17:21] #358 closed

[2016-02-23 17:22] kelseyhightower commented on #183
I'll be hacking on this today. Will provide updates soon.

[2016-02-23 18:38] dmcnaught commented on #334
Thanks, That project finished a while ago for me, so it's not still an outstanding issue on my side.

[2016-02-23 22:48] crandles commented on #318
#312 was accepted.

[2016-02-23 22:48] #318 closed

[2016-02-24 06:37] kelseyhightower commented on #221
This is working as designed. The template is only triggered when there is an updated key in the configuration store. If you call the datetime function in a loop you are going to get a new timestamp for each call.

This would be a bug if templates are being process when there are no changes in the configuration backend.

[2016-02-24 07:01] qiaosangning commented on #313
thanks @Sotorin . I installed confd successfully as you said.

[2016-02-24 07:15] bacongobbler commented on #313
FYI on master it's built using Godep so swap gb with godep and everything else is generally the same.

[2016-02-24 07:24] kelseyhightower commented on #273
The right way to handle use case is to use the ls and lsdir commands. See this example: https://github.com/kelseyhightower/confd/blob/master/docs/templates.md#create-the-template-1

[2016-02-24 07:24] #273 closed

[2016-02-24 07:28] kelseyhightower commented on #216
The right way to handle this use case is to use the `ls` and `lsdir` functions which return an empty list if the key is missing or empty. Use the `exists` function if you want to check if the key exists before you try and use it. You can find the documentation to all the template functions here: https://github.com/kelseyhightower/confd/blob/master/docs/templates.md#template-functions

[2016-02-24 07:28] #216 closed

[2016-02-24 14:45] kelseyhightower commented on #115
We have a solution for this on master. https://github.com/kelseyhightower/confd/commit/6354ddd43eb8589fea16805e935ecdf9491fb7a6

The rules for this are as follows:

If the uid or gid is not set then use the effective uid or gid for the confd process owner. We will no longer default to uid or gid.

[2016-02-24 14:45] #115 closed

[2016-02-24 14:45] kelseyhightower commented on #282
We have a solution for this on master. https://github.com/kelseyhightower/confd/commit/6354ddd43eb8589fea16805e935ecdf9491fb7a6

The rules for this are as follows:

If the uid or gid is not set then use the effective uid or gid for the confd process owner. We will no longer default to uid or gid.

[2016-02-24 14:45] #282 closed

[2016-02-24 15:13] kelseyhightower commented on #351
The prefix is only appended to key names and does not represent a key on it's own. You'll have to use `keys = ["/"]` to get the behavior you are looking for.

Regarding env vs other backends, it looks like things are working as designed on master. See test results below.

### use the env backend with missing keys
[code]

### Export the missing key

[code]

[code]

If you are still having issues pl

[2016-02-24 15:13] #351 closed

[2016-02-24 18:27] kelseyhightower commented on #326
@Lukasa Thanks for describing the problem so well. The first solution you proposed to this problem has been fixed on the master branch and will ship in the next release of confd.

I had to rework some things due to all the changes on the backends, but your PR was a great head start on getting this done.

[2016-02-24 18:27] #326 closed

[2016-02-24 18:31] kelseyhightower commented on #299
Looks like we merged the fix for this. Thanks @sheepkiller

[2016-02-24 18:31] #299 closed

[2016-02-24 18:46] mpchlets commented on #216
@kelseyhightower using `exists` or `ls`/`lsdir` does not solve the race condition of a key getting removed between the two - I would not want my template to crash because of a race condition.

[2016-02-24 19:03] bacongobbler commented on #216
@mpchlets the template is evaluated all at the same time. We retrieve the values from etcd, then input that as values to the template resource. There should not be any race condition.

[2016-02-24 19:03] mpchlets commented on #216
OK - my misunderstanding - thanks for clarifying.

[2016-02-25 03:26] #317 closed

[2016-02-25 12:34] ilmerovingio commented on #317
Thanks @kelseyhightower @ericbarch and @israelchen!

[2016-02-25 16:01] FreddyJones commented on #342
+1 Even if it is just a hash of some sort to keep it from the casual viewer, that would be a good beginning.

[2016-02-26 03:09] icheko commented on #221
I ran into this issue as well. When `{{datetime}}` is part of the source template, it causes the `reload_cmd` to be triggered (and thus haproxy keeps reloading) without any changes to the keys being monitored.

haproxy.toml
[code]

haproxy.cfg.tmpl
[code]

[code]

[2016-02-26 03:53] bacongobbler commented on #221
I think that is what's happening here, judging from @icheko and @analytically's comments. I also tried testing this and verified it's a bug. It's because the md5sum changes any time the template is evaluated because `time.Now()` is different every interval, causing the md5sum to always be different compared to its predecessor. I'm not sure there's an easy answer on how we fix this behaviour.

[2016-02-26 03:58] therc opened #400 "Add random jitter before taking action"
To help prevent thundering herd scenarios, allow waiting a random number between 0 and X (or between X and Y) of seconds before generating/reloading a file.

[2016-02-26 04:01] bacongobbler commented on #400
@therc you mean `-i/--interval`?

[2016-02-26 04:01] therc opened #401 "Add panic button"
Allow users to define a key name that, in an emergency prevents all updates cluster-wide.

(From chapter 4 of Automation Gone Wild.)

[2016-02-26 04:03] bacongobbler commented on #401
@therc can you please clarify this use case? What's wrong with killing the running process and restarting that would require such a scenario?

[2016-02-26 04:07] therc commented on #400
-i is the polling interval. You can use that to approximate random jitter for the single file case. But if you have multiple files getting generated with different jitter ranges or want to use a watch, -i is not going to work.

[2016-02-26 04:25] therc commented on #401
If you have ten or a hundred machines running confd, killing and restarting processes manually is going to be a headache.

The use case is that you need to have a red button to stop all automation when you suspect it of being the cause or a trigger for an ongoing outage. This is standard procedure for services and configuration management at scale. Maybe your tools are dynamically configuring load

[2016-02-26 05:26] bacongobbler commented on #401
I have a feeling that this is out of scope for confd. I'm assuming that if (hypothetically) you have hundreds of machines running confd, you likely have some form of a scheduler that would be able to stop these processes for you, which then you'll have a way to stop said job. For example, kubernetes has a concept of a replication controller that works across a set amount of replicas for a given jo

[2016-02-26 05:28] bacongobbler commented on #400
Confd doesn't work on config-per-file. In that case we have suggested previously that if people want different jitter ranges for different files that they should use a separate confd process with different config set up. That would be the simplest solution out of band without convoluting the codebase.

[2016-02-26 05:39] bacongobbler commented on #400
Ah I see what you mean. You mean by the fact that each template resource being processed = a call to the backend, meaning that number of connections to the backend increases based on the number of templates you have. We could probably optimize this instead by grabbing all gets from the store at once and injecting them into the templates at once before processing, preventing the thundering herd pro

[2016-02-26 09:50] mishak87 commented on #221
@bacongobbler Setting datetime to write special value and replacing it after md5 would not work?

[2016-02-26 13:16] therc commented on #401
A scheduler might work if you're deploying confd on its own. But even then, it's a very blunt instrument. Let's ignore the fact that mass terminations will add a lot of noise to logs (the last thing you need when troubleshooting live) or that the central scheduler and the local node manager are additional sources of latency, unpredictability and points of failure on top of your distributed lock se

[2016-02-26 13:39] therc commented on #400
That's one of the scenarios, yes, but the first I thought of was:

Put a watch on K
Get woken up, process template
Restart/Signal daemon D
D acts on the new configuration, which makes it fetch something from another service, S
S gets hammered by a hundred instances of D
???
No profit!

Actually, even with -i, if we assume that on something like Kubernetes all pods will initially get scheduled with

[2016-02-26 13:42] therc commented on #400
Multiple confd instances is not ideal, but I guess I could live with it in some cases. The fact that they're not coordinated is an asset for multiple jitter ranges, but it's also a liability when it comes to predicting behaviour, especially the worst case. Oh well. :-)

[2016-02-26 18:35] jbkc85 opened #402 "Documentation for Installing from Source"
Though the documentation says just run ```go build```, the following packages are still telling me I need to use ```go get``` prior to the build.  Am I doing something wrong here or is this in fact the necessary steps?

[code]

[code]

If this is in fact the correct approach, could we add it to the documentation, the ./build script and/or perhaps the new Vendor subdirectory?  I know its pretty obv